mixin subscribe
	.news-subscribe
		.news-subscribe__text Подписаться на новости
		form.news-subscribe-form
			input(type='text' name='subscribe-name' id='subscribe-name' placeholder='Ваш e-mail').news-subscribe-form__input
			input(type='submit' value='Подписаться').news-subscribe-form__submit
		
