
<!-- Разделитель-->
<div class="separator"></div>
<!-- Блок копирайт-->
<div class="footer-copyright">
  <!-- Копирайт-->
  <div class="footer-copyright__col footer-copyright__col1">&copy; 2017 ОАО
    <q>ЭКЗОН</q> Все права защищены
  </div>
  <!-- /Копирайт-->
  <!-- Разработчик-->
  <div class="footer-copyright__col">
    <div class="site-developer">
      <div class="site-developer__text">Разработка сайта</div><img class="site-developer__img" src="template-images/site-developer.png"/>
    </div>
  </div>
  <!-- /Разработчик-->
</div>
<!-- /Блок копирайт-->