// Разделитель
.separator
// Блок копирайт
.footer-copyright
	// Копирайт
	.footer-copyright__col &copy; 2017 ОАО
		q ЭКЗОН
		|  Все права защищены
	// /Копирайт

	// Разработчик
	.footer-copyright__col
		.site-developer
			.site-developer__text Разработка сайта
			img.site-developer__img(src='template-images/site-developer.png')
	// /Разработчик
// /Блок копирайт
