.lang-switcher.mod_rounded
	.lang-switcher-lang
		.lang-switcher-lang__text ENG
		img.lang-switcher-lang__icon(src='./images/header-top-eng.png')
			
			//- сделать миксином? не надо, тк внутри проекта эти данные - статичны
