.header-top {
	position: relative;
}

.header-top__inner {
	display: -webkit-flex;
	display: -ms-flex;
	display: flex;
	width: 1000px;
	margin: auto;
	justify-content: space-between;
	align-items: center;
}

.header-top__outer {
	position: absolute;
	right: 0;
	top: 50%; transform: translateY(-50%);
}

.header-top__inner-item {
	display: -webkit-flex;
	display: -ms-flex;
	display: flex;
	align-items: center;
}
.header-top__inner-item-icon {
	height: 28px;
	margin-right: 10px;
}
