.header-top.header-top_colors
	.header-top__inner.temp_b-w
		.header-top__inner-item
			img.header-top__inner-item-icon(src='./images/header-top-point.png')
			.header-top__inner-item-text 225612, Республика Беларусь, г.Дрогичин, ул.Ленина, 202
		.header-top__inner-item
			img.header-top__inner-item-icon(src='./images/header-top-nadzor.png')
			.header-top__inner-item-text Формаконадзор	
		.header-top__inner-item(data-target='#modal-box' data-toggle='modal')
			.header-top__login
				img.header-top__inner-item-icon(src='./images/header-top-login.png')
				.header-top__inner-item-text Вход для клиентов
		// переключатель языка 
		.header-top__outer
			include ../../lang-switcher/lang-switcher.pug
				
