mixin catalog__card
	a.catalog__card(href='#')
		img.catalog_card-img(src='template-images/main-page-slider-II__img1.png')
		.catalog__card-txt
			.catalog__card-txt-title Подорожник с витамином C
			.catalog__card-txt-text Средство, регулирующее метаболические процессы
