.modal.modal-forms.fade#mapModal(tabindex="-1" role="dialog" aria-labelledby="assort-btn" aria-hidden="true")
	.modal-box.modal-dialog.button.button--gradient
		.modal__content
			iframe.mapModal(src="https://yandex.by/map-widget/v1/-/CBaUZQbBXB" width="1000" height="630" frameborder="0")
		.modal__content-close(data-dismiss="modal" aria-label="Close")
			img.modal__content-close(src='template-images/forms__cancel.png')
