// Футер нижний
.footer-bottom
	.footer-bottom__inner
		.footer-bottom__col
			+button-modal-colored('footer-feedback', '#modal-box', 'Обратная связь')
		.footer-bottom__col
			.footer-join-us
				.footer-join-us__text Присоединяйтесь:
				.footer-join-us__socials
					img.footer-join-us__socials(src='template-images/socials-vk.png')
					img.footer-join-us__socials(src='template-images/socials-inst.png')
					img.footer-join-us__socials(src='template-images/socials-fb.png')
					img.footer-join-us__socials(src='template-images/socials-ok.png')
// /Футер нижний
