@import "../../style/vars.scss";

/* Раскладка */
.footer-bottom {
	display: -webkit-flex;
	display: -ms-flex;
	display: flex;
	justify-content: flex-end;
	margin-top: -14px;
}
.footer-bottom__inner {
	display: -webkit-flex;
	display: -ms-flex;
	display: flex;
	justify-content: space-between;
	align-items: center;
	max-width: 760px;
	width: 100%;
}
/* /Раскладка */

/* Обратная связь */
.footer-feedback {
	color: $grey;
	padding: 4px 14px;
	font-size: 24px;
	font-weight: 300;
}
/* /Обратная связь */

/* Присоединяйтесь */
.footer-join-us {
	display: -webkit-flex;
	display: -ms-flex;
	display: flex;
	justify-content: space-between;
	align-items: center;
}
.footer-join-us__text {
	font-size: 18px;
	font-weight: 400;
}
.footer-join-us__socials {
	margin-left: 10px;
}
/* /Присоединяйтесь */

/* Адаптация */
@media screen and(max-width: 830px) {
	.footer-bottom,
	.footer-bottom__inner {
		justify-content: center;
	}
}
@media screen and(max-width: 410px) {
	.footer-join-us {
		flex-direction: column;
	}
	.footer-join-us__socials {
    margin: 7px;
		margin-top: 5px;
	}
}

/* /Адаптация */
