mixin button-modal(classname, datatarget, text)
  button(class= classname data-target= datatarget href='' data-toggle='modal')= text

//- Код для вставки: +button-modal('class-content', 'data-target-content', 'text-content')
