mixin page-main-interview
	.page-main-interview.inn_padd
		.main-interview__inner.site-width
			.page-main-interview__text1
				.page-main-interview__txt Примите участие в опросе, 
				.page-main-interview__txt чтобы помочь нам совершенствоваться
			.page-main-interview__text2
				.page-main-interview__txt Примите участиве в опросе, чтобы помочь нам совершенстоваться
			.page-main-interview__btn 
				+button-link('btn-page-main-all-news btn-page-main-all-news__list', '#', 'Принять участие')
