extends ../../layout/page-template.pug

block content

  //- https://developer.mozilla.org/en-US/docs/Learn/HTML/Forms/How_to_build_custom_form_widgets

  include input-js__mixin.pug

  .select-field-1
    +input-js      

  link(rel='stylesheet' href='input-js.css')
  script(src='input-js.js')
  
  
  // Livereload
  script(src='http://localhost:35729/livereload.js')
