<!DOCTYPE HTML>
<html lang="en">
  <head>
    <meta charset="utf-8"/>
    <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
    <link rel="shortcut icon" href="template-images/favikon-exon.png"/>
    <!-- Шрифты -->
    <link href="https://fonts.googleapis.com/css?family=Roboto:300,300i,400,400i,500,700,900&amp;amp;subset=cyrillic" rel="stylesheet"/>
    <link href="https://fonts.googleapis.com/css?family=Roboto+Slab:400,700&amp;amp;subset=cyrillic" rel="stylesheet"/>
    <link rel="stylesheet" href="font-awesome-4.7.0/css/font-awesome.min.css"/>
    <!-- Стили-->
    <!-- Нормалайзер -->
    <link rel="stylesheet" href="style/normalize.css"/>
    <!-- Bootstrap 		-->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-beta/css/bootstrap.min.css" integrity="sha384-/Y6pD6FV/Vv2HJnA6t+vslU6fwYXjCFtcEpHbNJ0lyAFsXTsjBbfaDjzALeQsN6M" crossorigin="anonymous"/>
    <!-- /Bootstrap -->
    <!-- Slick Slider-->
    <link rel="stylesheet" type="text/css" href="https://cdnjs.cloudflare.com/ajax/libs/slick-carousel/1.8.1/slick.min.css"/>
    <!-- Стиль сайта-->
    <link rel="stylesheet" href="style/style.css"/>
    <!-- Стиль шаблона(header - footer)-->
    <link rel="stylesheet" href="style/page-template.css"/>
    <!-- /Стили-->
    <!-- jQuery-->
    <script src="https://code.jquery.com/jquery-3.2.1.min.js"></script>
  </head>
  <!-- Тело сайта -->
  <body>
    <!-- Модальные окна-->
    <!-- Модальное окно - Вход для клиентов-->
    <div class="modal modal-forms fade" id="clientsLogin" tabindex="-1" role="dialog" aria-labelledby="assort-btn" aria-hidden="true">
      <div class="modal-box modal-dialog button button--gradient">
        <div class="modal__content">
          <div class="modal__content-title">Войти в личный кабинет</div>
          <div class="modal__content-description">Для того, чтобы войти в личный кабинет, введите логин и пароль</div>
          <form class="modal__content-form">
            <div class="modal__content-form-input">
              <input class="modal__content-form-input-user" type="text" name="loginName" placeholder="Имя пользователя*"/>
            </div>
            <div class="modal__content-form-input">
              <input class="modal__content-form-input-pass" type="text" name="loginPass" placeholder="Пароль*"/>
            </div>
            <div class="modal__content-cols">
              <div class="modal__content-col1-2 loginRemember">
                <input class="input-loginRemember" id="loginRemember" type="checkbox"/>
                <div class="label-loginRemember__checkbox"></div>
                <label class="label-loginRemember" for="loginRemember">Запомнить меня</label>
              </div>
              <div class="modal__content-col1-2 not-a-partner"><a class="modal__content-nat-a-partner" href="#">Еще не наш партнер?</a></div>
            </div>
            <div class="modal__content-form-submit">
              <input class="modal__content-form-submit-btn" type="submit" value="ВОЙТИ НА САЙТ"/>
            </div>
          </form>
          <div class="modal__content-close" data-dismiss="modal" aria-label="Close"><img class="modal__content-close" src="template-images/forms__cancel.png"/></div>
        </div>
      </div>
    </div>
    <!-- Модальное окно - Оставить заявку-->
    <div class="modal modal-forms fade" id="online-order" tabindex="-1" role="dialog" aria-labelledby="assort-btn" aria-hidden="true">
      <div class="modal-box modal-dialog button button--gradient">
        <div class="modal__content">
          <div class="modal__content-title">Оставить заявку</div>
          <div class="modal__content-description">Для того, чтобы оставить заявку, вам требуется войти на сайт под своими учетными данными. <br/>Имя и пароль выдаются нашей компанией при регистрации партнера. </div>
          <form class="modal__content-form">
            <div class="modal__content-form-input">
              <input class="modal__content-form-input-user" type="text" name="loginName" placeholder="Имя пользователя*"/>
            </div>
            <div class="modal__content-form-input">
              <input class="modal__content-form-input-pass" type="text" name="loginPass" placeholder="Пароль*"/>
            </div>
            <div class="modal__content-cols">
              <div class="modal__content-col1-2 loginRemember">
                <input class="input-loginRemember" id="loginRememberOrder" type="checkbox"/>
                <div class="label-loginRemember__checkbox"></div>
                <label class="label-loginRemember" for="loginRememberOrder">Запомнить меня</label>
              </div>
              <div class="modal__content-col1-2 not-a-partner"><a class="modal__content-nat-a-partner" href="#">Еще не наш партнер?</a></div>
            </div>
            <div class="modal__content-form-submit">
              <input class="modal__content-form-submit-btn" type="submit" value="ВОЙТИ НА САЙТ"/>
            </div>
          </form>
          <div class="modal__content-close" data-dismiss="modal" aria-label="Close"><img class="modal__content-close" src="template-images/forms__cancel.png"/></div>
        </div>
      </div>
    </div>
    <!-- Модальное окно - Обратная связь-->
    <div class="modal modal-forms fade" id="callBack" tabindex="-1" role="dialog" aria-labelledby="assort-btn" aria-hidden="true">
      <div class="modal-box modal-dialog button button--gradient">
        <div class="modal__content">
          <div class="modal__content-title">Обратная связь</div>
          <div class="modal__content-description">Если у вас есть вопросы относительно деятельности нашего предприятия, либо по продукции, оставьте ваши контактные данные в форме ниже, и мы свяжемся с вами в ближайшее время.</div>
          <form class="modal__content-form">
            <div class="modal__content-form-input">
              <input class="modal__content-form-input-user" type="text" name="loginName" placeholder="Имя пользователя*"/>
            </div>
            <div class="modal__content-form-input">
              <input class="modal__content-form-input-mail" type="text" name="loginPass" placeholder="Ваш e-mail*"/>
            </div>
            <div class="modal__content-form-input">
              <input class="modal__content-form-input-phone" type="text" name="loginPass" placeholder="Номер телефона*"/>
            </div>
            <div class="modal__content-form-submit">
              <input class="modal__content-form-submit-btn" type="submit" value="ОТПРАВИТЬ"/>
            </div>
            <div class="modal__content__note">Ваши персональные данные находятся в безопасности</div>
          </form>
          <div class="modal__content-close" data-dismiss="modal" aria-label="Close"><img class="modal__content-close" src="template-images/forms__cancel.png"/></div>
        </div>
      </div>
    </div>
    <!-- ***** Хэдер ***** -->
    <div class="header">
      <!-- Header-top-->
      <div class="header-top inn_padd">
        <div class="header-top__inner site-width">
          <div class="header-top__item header-adress"><img class="header-top__icon" src="template-images/header-top-point.png"/>
            <div class="header-top__text">225612, Республика Беларусь, г.Дрогичин, ул.Ленина 202</div>
          </div><a class="header-top__item header-top__item-pharma" href="page-pharma.html"><img class="header-top__icon" src="template-images/header-top-nadzor.png"/>
            <div class="header-top__text">Фармаконадзор</div></a>
          <!-- Вход для клиентов - Вход не совершен (активируется классом .active)-->
          <div class="header-top__item header-top-login active" data-target="#clientsLogin" href="" data-toggle="modal"><img class="header-top__icon" src="template-images/header-top-login.png"/>
            <div class="header-top__text">Вход для клиентов</div>
          </div>
          <!-- Вход для клиентов - Вход совершен (активируется классом .active)-->
          <div class="header-top__item header-top-login header-top-logged"><img class="header-top__icon" src="template-images/header-top-client.png"/>
            <div class="header-top__text">Клиент 123546</div>
            <!-- Вход для клиентов - Меню--><i class="fa fa-angle-up header-top-login__arrow" aria-hidden="true"></i><i class="fa fa-angle-down header-top-login__arrow" aria-hidden="true"></i>
            <div class="header-top-logged__menu"><a class="header-top-logged__menu-btn header-top-logged__menu-lk" href="page-lk.html">Личный кабинет</a><a class="header-top-logged__menu-btn header-top-logged__menu-logout" href="#">Выйти</a></div>
          </div>
          <!-- Переключатель языков-->
          <div class="header-top__item-abs ru-eng"><a class="ru-eng__eng active" href="#">
              <div class="ru-eng__text">ENG</div><img class="ru-eng__img" src="template-images/header-top-eng.png"/></a><a class="ru-eng__ru" href="#">
              <div class="ru-eng__text">РУС</div><img class="ru-eng__img" src="template-images/header-top-eng.png"/></a></div>
        </div>
      </div>
      <!-- Header-bottom-->
      <div class="header-bottom inn_padd">
        <div class="header-bottom__inner site-width">
          <!-- Левое крыло-->
          <div class="header-bottom__left">
            <ul class="menu header-menu">
              <!-- пункт меню активируется добавлением класса .active-->
              <li id="nav__catalog"><a class="button-link header-menu__button" href="page-catalog.html">Каталог продукции</a>
              </li>
              <li id="nav__about-company"><a class="button-link header-menu__button" href="page-about-company.html">О Компании</a>
              </li>
              <li id="nav__news"><a class="button-link header-menu__button" href="page-news-all.html">Новости</a>
              </li>
            </ul>
          </div>
          <!-- Центр-->
          <div class="header-bottom__center"><a class="header-bottom-logo" href="page-main.html"><img class="header-bottom-logo__img" src="template-images/header-logo.png"/>
              <div class="header-bottom-logo__text">
                <div class="header-bottom-logo__text-text">
                  <div class="header-bottom-logo__text-title">ОАО 
                    <q>ЭКЗОН</q>
                  </div>
                  <div class="header-bottom-logo__text-description1">Производство натуральных </div>
                  <div class="header-bottom-logo__text-description2">лекарственных средств</div>
                </div>
              </div></a></div>
          <!-- Правое крыло-->
          <div class="header-bottom__right">
            <ul class="menu header-menu">
              <li id="nav__partners"><a class="button-link header-menu__button" href="#">Партнерам</a>
              </li>
              <li id="nav__contacts"><a class="button-link header-menu__button" href="page-contacts.html">Контакты</a>
              </li>
              <li>
                    <button class="button button--gradient online-order" data-target="#online-order" href="" data-toggle="modal">Онлайн заявка</button>
              </li>
            </ul>
          </div>
          <div class="header-bottom__right-top header-bottom__right-top-phone"> <span>8 01644 </span><strong>3-24-09	</strong></div>
          <div class="header-bottom__left-top">
                <form class="header-search">
                  <input type="text" name="search"/>
                </form>
          </div>
        </div>
        <!-- Мобильная шапка-->
        <div class="header-bottom__inner-mobile site-width">
          <!-- Колонка Лого-->
          <div class="header-bottom-mobile__col header-mobile-logo__footer-logo"><img class="footer-logo__img" src="template-images/header-logo.png"/>
            <div class="footer-logo__text">
              <div class="footer-logo__text-title">ОАО 
                <q>ЭКЗОН</q>
              </div>
              <div class="footer-logo__text-description1">Производство натуральных</div>
              <div class="footer-logo__text-description2">лекарственных средств</div>
            </div>
          </div>
          <!-- Колонка Телефон-->
          <div class="header-bottom-mobile__col header-bottom-mobile__col2">
            <div class="header-bottom-mobile__phone"><span>8 01644</span><strong>&nbsp3-24-09</strong></div>
                <button class="button button--gradient online-order" data-target="#online-order" href="" data-toggle="modal">Онлайн заявка</button>
          </div>
          <!-- Колонка Меню-->
          <div class="header-bottom-mobile__col header-bottom-mobile__col3 header-mobile-menu">
                <div class="menu-mobile theme-exon">
                  <!-- Кнопка -->
                  <input type="checkbox" name="mobile-menu" id="mobile-menu_stroke-cross" style="display:none;"/>
                  <div class="mobile-menu">
                    <label class="mobile-menu__strokes" for="mobile-menu_stroke-cross">
                      <div class="mobile-menu__stroke mobile-menu__stroke-cross1"></div>
                      <div class="mobile-menu__stroke mobile-menu__stroke-cross2"></div>
                      <div class="mobile-menu__stroke mobile-menu__stroke-cross3"></div>
                    </label>
                  </div>
                  <!-- Меню -->
                  <div class="mobile-menu__menu">
                    <ul class="mobile-menu__item" id="mobile-menu">
                      <!-- Ссылка меню-->
                      <li><a class="mobile-menu__item-a" href="#">link1</a></li>
                      <li><a class="mobile-menu__item-a" href="#">link2</a></li>
                    </ul>
                  </div>
                </div>
          </div>
        </div>
      </div>
    </div>
    <!-- ***** /Хэдер ***** -->
    <!-- ***** Контент ***** -->
        <div class="main-slider-slick page__title">
          <div class="main-slider-slick__item"><img class="main-slider__img" src="template-images/news-all__title.png"/>
            <div class="main-slider__txt">
              <div class="main-slider__txt-title">Новости</div>
            </div>
            <!-- Крошки -->
            <div class="page__title-crumbs inn_padd">
              <div class="page__title-crumbs__inner site-width"><a class="page__title-crumbs__main" href="#">Главная<i class="fa fa-angle-double-right page__title-crumbs__fa" aria-hidden="true"></i><a class="page__title-crumbs__child" href="#">Новости</a><i class="fa fa-angle-double-right page__title-crumbs__fa" aria-hidden="true"></i>
                  <div class="page__title-crumbs__child" href="#">Новость1</div></a></div>
            </div>
          </div>
        </div>
    <!-- Содержимое страницы "Новость"-->
    <div class="news-all news-single inn_padd">
      <div class="news-all__inner site-width">
        <!-- Строка "Подписаться" и "Сортировка" -->
        <div class="news-all-small-head">
          <div class="news-all-small-head__col news-all__back-to-all"><i class="fa fa-angle-left back-to-all__arrow" aria-hidden="true"></i><a class="news-all__back-to-all-txt" href="page-news-all.html">К списку новостей</a></div>
          <div class="news-all-small-head__col">
                <div class="news-subscribe">
                  <div class="news-subscribe__text">Подписаться на новости</div>
                  <form class="news-subscribe-form">
                    <input class="news-subscribe-form__input" type="text" name="subscribe-name" id="subscribe-name" placeholder="Ваш e-mail"/>
                    <input class="news-subscribe-form__submit" type="submit" value="Подписаться"/>
                  </form>
                </div>
          </div>
        </div>
        <div class="news-single__slider">
              <div class="main-slider-slick main-slider-slick__theme-exon">
                <div class="main-slider-slick__item"><img class="main-slider__img" src="template-images/news-single__slider.png"/>
                  <div class="main-slider__txt">
                    <div class="main-slider__txt-title"></div>
                    <div class="main-slider__txt-text"></div>
                  </div>
                </div>
                <div class="main-slider-slick__item"><img class="main-slider__img" src="template-images/main-page-slider__img.png"/>
                  <div class="main-slider__txt">
                    <div class="main-slider__txt-title"></div>
                    <div class="main-slider__txt-text"></div>
                  </div>
                </div>
              </div>
        </div>
        <div class="news-single__post">
          <div class="news-single__post-date">
            <div class="news-all__previews-item-text-date">18.09.2016</div>
          </div>
          <div class="news-single__post-title">Международная специализированная выставка «Здравоохранение и Фармация EXPO-2017» в Ереване с 22 по 27 февраля</div>
          <div class="news-single__post-text">
            <p>Сотрудники отдела маркетинга ОАО «Экзон» приняли участие в специализированной выставке «Здравоохранение и Фармация EXPO-2017», которая проходила 22-27 февраля в Ереване. В рамках участия в выставке была проведена дегустация продукции, а также были достигнуты договоренности о поставке гематогена в Республику Армения.</p>
            <p>Сотрудники отдела маркетинга ОАО «Экзон» приняли участие в специализированной выставке «Здравоохранение и Фармация EXPO-2017», которая проходила 22-27 февраля в Ереване. В рамках участия в выставке была проведена дегустация продукции, а также были достигнуты договоренности о поставке гематогена в Республику Армения.</p>
            <p>Сотрудники отдела маркетинга ОАО «Экзон» приняли участие в специализированной выставке «Здравоохранение и Фармация EXPO-2017», которая проходила 22-27 февраля в Ереване. В рамках участия в выставке была проведена дегустация продукции, а также были достигнуты договоренности о поставке гематогена в Республику Армения.</p>
            <p>Сотрудники отдела маркетинга ОАО «Экзон» приняли участие в специализированной выставке «Здравоохранение и Фармация EXPO-2017», которая проходила 22-27 февраля в Ереване. В рамках участия в выставке была проведена дегустация продукции, а также были достигнуты договоренности о поставке гематогена в Республику Армения.</p>
          </div>
        </div>
      </div>
    </div>
    <!-- серый футер-->
    <script src="js/footer-grey.js"></script>
    <!-- Подсветка активного пункта меню-->
    <script src="js/active-page__news.js"></script>
    <!-- ***** /Контент *****-->
    <!-- ***** Футер ***** -->
    <div class="footer inn_padd">
      <div class="footer__inner site-width">
        <!-- Футер верхний-->
        <div class="footer-top">
          <!-- первая колонка -->
          <div class="footer-top__col">
            <div class="footer-logo"><img class="footer-logo__img" src="template-images/header-logo.png"/>
              <div class="footer-logo__text">
                <div class="footer-logo__text-title">ОАО 
                  <q>ЭКЗОН</q>
                </div>
                <div class="footer-logo__text-description1">Производство натуральных</div>
                <div class="footer-logo__text-description2">лекарственных средств</div>
              </div>
            </div>
            <div class="footer__phones">
              <div class="footer__phones1">8 01644 <strong>3-24-09</strong></div>
              <div class="footer__phones2">8 01644 <strong>3-24-09</strong></div>
            </div>
            <div class="footer__address">225612, Республика Беларусь, г.Дрогичин, ул.Ленина 202</div>
            <div class="footer__mail">bm@ekzon.by</div>
          </div>
          <!-- Кнопка, появляющаяся в мобильной версии	-->
          <div class="footer-top__col footer-top__footer-feedback">
                <button class="button button--gradient footer-feedback footer-feedback_mobile" data-target="#callBack" href="" data-toggle="modal">Онлайн заявка</button>
          </div>
          <!-- вторая колонка -->
          <div class="footer-top__col">
            <div class="footer-top__col-title">Компания</div><a class="footer-top__col-row" href="#">Информация</a><a class="footer-top__col-row" href="#">История</a><a class="footer-top__col-row" href="#">Сертификаты качества</a><a class="footer-top__col-row" href="#">География продаж</a>
          </div>
          <!-- третья колонка -->
          <div class="footer-top__col">
            <div class="footer-top__col-title">Продукция</div><a class="footer-top__col-row" href="#">Лекарственные средства</a><a class="footer-top__col-row" href="#">Биологически активные добавки</a><a class="footer-top__col-row" href="#">Пищевые продукты</a>
          </div>
          <!-- четвертая колонка -->
          <div class="footer-top__col">
            <div class="footer-top__col-title">Партнерам</div><a class="footer-top__col-row" href="#">Наши партнеры</a><a class="footer-top__col-row" href="#">Дистрибьютерам</a><a class="footer-top__col-row" href="#">Информация по наличию</a><a class="footer-top__col-row" href="#">Положение по скидкам</a><a class="footer-top__col-row" href="#">Форма заказа</a><a class="footer-top__col-row" href="files/file.pdf" target="_blank">Прайс лист</a>
          </div>
        </div>
        <!-- /Футер верхний-->
        <!-- Футер нижний-->
        <div class="footer-bottom">
          <div class="footer-bottom__inner">
            <div class="footer-bottom__col">
                  <button class="button button--gradient footer-feedback" data-target="#callBack" href="" data-toggle="modal">Обратная связь</button>
            </div>
            <div class="footer-bottom__col">
              <div class="footer-join-us">
                <div class="footer-join-us__text">Присоединяйтесь:</div>
                <div class="footer-join-us__socials"><a href="https://vk.com/" target="_blank"><img class="footer-join-us__socials" src="template-images/socials-vk.png"/></a><a href="https://www.instagram.com/" target="_blank"><img class="footer-join-us__socials" src="template-images/socials-inst.png"/></a><a href="https://www.facebook.com" target="_blank"><img class="footer-join-us__socials" src="template-images/socials-fb.png"/></a><a href="https://ok.ru/" target="_blank"><img class="footer-join-us__socials" src="template-images/socials-ok.png"/></a></div>
              </div>
            </div>
          </div>
        </div>
        <!-- /Футер нижний-->
        <!-- Разделитель-->
        <div class="separator"></div>
        <!-- Блок копирайт-->
        <div class="footer-copyright">
          <!-- Копирайт-->
          <div class="footer-copyright__col footer-copyright__col1">&copy; 2017 ОАО
            <q>ЭКЗОН</q> Все права защищены
          </div>
          <!-- /Копирайт-->
          <!-- Разработчик-->
          <div class="footer-copyright__col">
            <div class="site-developer">
              <div class="site-developer__text">Разработка сайта</div><img class="site-developer__img" src="template-images/site-developer.png"/>
            </div>
          </div>
          <!-- /Разработчик-->
        </div>
        <!-- /Блок копирайт-->
      </div>
    </div>
    <!-- Библиотеки скриптов -->
    <!-- Slick Slider -->
    <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/slick-carousel/1.8.1/slick.min.js"></script>
    <!-- Slick Slider - init -->
    <!-- Главный слаййдер-->
    <script type="text/javascript" src="js/main-slider-slick.js"></script>
    <!-- Слайдер в табах-->
    <script type="text/javascript" src="js/slider-slick-mult.js"></script>
    <!-- Слайдер "Наши партнеры" на странице "О компании"-->
    <script type="text/javascript" src="js/slider-slick__carousel.js"></script>
    <!-- Bootstrap			-->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.11.0/umd/popper.min.js" integrity="sha384-b/U6ypiBEHpOf/4+1nzFpr53nxSS+GLCkfwBdFNTxtclqqenISfwAzpKaMNFNmj4" crossorigin="anonymous"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-beta/js/bootstrap.min.js" integrity="sha384-h0AbiXch4ZDo7tp9hKZ4TsHbi047NrKGLO3SEJAg45jXxnGIfYzk4Si90RDIqNm1" crossorigin="anonymous"></script>
    <!-- /Bootstrap-->
    <!-- /Библиотеки скриптов-->
    <!-- Скрипты-->
    <!-- На главной меняем значение кнопки "Подробнее"(bootstrap)-->
    <script src="js/read-more-bootstrap.js"></script>
    <!-- Скрипт 2 -->
    <script src=""></script>
    <!-- Скрипт 3 -->
    <script src=""></script>
    <!-- /Скрипты-->
    <!-- ***** /Футер *****-->
  </body>
</html>
<!-- !плагин LiveReload. по завершении разработки - удалить!-->
<script src="http://localhost:35729/livereload.js"></script>