//- page-main.pug
extends ../layout/page-template.pug

block content
	// Главный слайдер
	//- Подключаем миксины на странице
	include ../blocks/main-slider-slick/slider-slick.pug
	+main-slider-slick('main-slider-slick__theme-exon', ['template-images/main-page-slider__img.png', 'Качество', 'Производство лекарственных средств соответствует стандарту GMP'], ['template-images/main-page-slider__img.png', 'Качество', 'Производство лекарственных средств соответствует стандарту GMP'], ['template-images/main-page-slider__img.png', 'Качество', 'Производство лекарственных средств соответствует стандарту GMP'])
