//- page-contacts.pug
extends page-template.pug

block content
	+crumbs('template-images/news-all__title.png', 'Новости', 'Новости')
	// Содержимое страницы "Новости"
	.news-all.inn_padd
		.news-all__inner.site-width
			// Строка "Подписаться" и "Сортировка"
			.news-all-small-head
				.news-all-small-head__col
					+subscribe
				.news-all-small-head__col
					.news-sort-by-date
						.news-sort-by-date__txt Сортировать по дате:
						.news-sort-by-date__switch
							a.news-sort-by-date__switch-new-first(href='#') Сначала свежие
							a.news-sort-by-date__switch-old-first(href='#' style='display:none') Сначала ранние
			// Список новостей
			.news-all__previews
				+news-all__previews-item('page-news-single.html', 'template-images/news-all__preview1.png', 'Международная специализированная выставка «Здравоохранение и Фармация EXPO-2017» в Ереване с 22 по 27 февраля', 'Сотрудники отдела маркетинга ОАО «Экзон» приняли участие в специализированной выставке «Здравоохранение и Фармация EXPO-2017», которая проходила 22-27 февраля в Ереване. В рамках участия в выставке была проведена дегустация продукции, а также были достигнуты договоренности о поставке гематогена в Республику Армения.', '18.09.2016')
				+news-all__previews-item('page-news-single.html', 'template-images/news-all__preview2.png', 'Международная специализированная выставка «Здравоохранение Беларуси-2017»', '24-26 марта в столице Республике Беларусь проходила международная  специализированная выставка «Здравоохранение Беларуси-2017», в которой ОАО «Экзон» традиционно приняло участие. В рамках участия в выставке, были достигнуты договоренности по поводу поставок продукции in-bulk для дальнейшего их производства на площадке ОАО «Экзон».', '18.09.2016')
				+news-all__previews-item('page-news-single.html', 'template-images/news-all__preview1.png', 'Назначение нового руководителя', '13 июня  2017 на пост руководителя предприятия  ОАО «Экзон» назначен Васкевич Валерий Федорович. Валерий Федорович работает на предприятии около 20 лет. До назначения директором, занимал пост главного инженера. Под его руководством на предыдущем посте  была проведена модернизация производства, введена в эксплуатацию новая котельная, а также проведены кадровые перестановки, которые позволили предприятию оптимизировать свои производственные возможности.', '18.09.2016')
				+news-all__previews-item('page-news-single.html', 'template-images/news-all__preview3.png', 'Импортозамещение: с прицелом на перспективу', 'В Минздраве состоялась встреча заместителя министра здравоохранения — директора Департамента фармпромышленности Валерия Шевчука с представителями Тяньцзинской электростроительной компании Китайской энергостроительной групповой корпорации, директором ОАО «Экзон» Валерием Васкевичем и директором ЗАО «Белалек групп» Игорем Стомой. Стороны обсудили перспективы реализации инвестиционного проекта — строительства нового цеха по производству готовых лекарственных средств, соответствующего всем', '18.09.2016')
			.news-all__pagination
				a.news-all__pagination-page.active(href='#') 1
				a.news-all__pagination-page(href='#') 2
				a.news-all__pagination-page(href='#') 3
	// серый футер
	script(src='js/footer-grey.js')
