<!DOCTYPE HTML>
<html lang="en">
  <head>
    <meta charset="utf-8"/>
    <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
    <!-- Шрифты -->
    <link href="https://fonts.googleapis.com/css?family=Roboto:300,300i,400,400i,500,700,900&amp;amp;subset=cyrillic" rel="stylesheet"/>
    <link href="https://fonts.googleapis.com/css?family=Roboto+Slab:400,700&amp;amp;subset=cyrillic" rel="stylesheet"/>
    <link href="https://fonts.googleapis.com/css?family=Lato:300,300i,400,400i,700,900" rel="stylesheet"/>
    <!-- Стили-->
    <!-- Нормалайзер -->
    <link rel="stylesheet" href="style/normalize.css"/>
    <!-- Bootstrap 		-->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-beta/css/bootstrap.min.css" integrity="sha384-/Y6pD6FV/Vv2HJnA6t+vslU6fwYXjCFtcEpHbNJ0lyAFsXTsjBbfaDjzALeQsN6M" crossorigin="anonymous"/>
    <!-- /Bootstrap -->
    <!-- Slick Slider-->
    <!-- Стиль сайта-->
    <link rel="stylesheet" href="../../styles/style.css"/>
    <!-- Стиль шаблона(header - footer)-->
    <link rel="stylesheet" href="style/page-template.css"/>
    <!-- /Стили-->
    <!-- Тело сайта -->
    <body>
      <!-- Модальные окна-->
      <!-- Модальное окно - Вход для клиентов-->
      <div class="modal fade" id="modal-box" tabindex="-1" role="dialog" aria-labelledby="assort-btn" aria-hidden="true">
        <div class="modal-box modal-dialog">
          <div class="modal__content-login">ЗДЕСЬ СОДЕРЖИМОЕ МОДАЛЬНОГО ОКНА "ВХОД ДЛЯ КЛИЕНТОВ"</div>
        </div>
      </div>
      <script src="http://localhost:35729/livereload.js"></script>
      <!-- ***** Хэдер ***** -->
      <div class="header">
        <!-- Header-bottom-->
        <div class="header-bottom inn_padd">
          <div class="header-bottom__inner site-width">
            <!-- Левое крыло-->
            <div class="header-bottom__left">
              <ul class="menu header-menu">
                <li><a class="button-link header-menu__button" href="#">Каталог продукции</a>
                </li>
                <li><a class="button-link header-menu__button" href="#">О Компании</a>
                </li>
                <li><a class="button-link header-menu__button" href="#">Новости</a>
                </li>
              </ul>
            </div>
            <!-- Центр-->
            <div class="header-bottom__center">
              <div class="header-bottom-logo"><img class="header-bottom-logo__img" src="template-images/header-logo.png"/>
                <div class="header-bottom-logo__text">
                  <div class="header-bottom-logo__text-text">
                    <div class="header-bottom-logo__text-title">ОАО 
                      <q>ЭКЗОН</q>
                    </div>
                    <div class="header-bottom-logo__text-description1">Производство натуральных </div>
                    <div class="header-bottom-logo__text-description2">лекарственных средств</div>
                  </div>
                </div>
              </div>
            </div>
            <!-- Правое крыло-->
            <div class="header-bottom__right">
              <ul class="menu header-menu">
                <li><a class="button-link header-menu__button" href="#">Партнерам</a>
                </li>
                <li><a class="button-link header-menu__button" href="#">Контакты</a>
                </li>
                <li>
                        <button class="button button--gradient online-order" data-target="#modal-box" href="" data-toggle="modal">Онлайн заявка</button>
                </li>
              </ul>
            </div>
            <div class="header-bottom__right-top header-bottom__right-top-phone"> <span>8 01644 </span><strong>3-24-09	</strong></div>
            <div class="header-bottom__left-top">
                    <form class="header-search">
                      <input type="text" name="search"/>
                    </form>
            </div>
          </div>
          <!-- Мобильная шапка-->
          <div class="header-bottom__inner-mobile site-width">
            <div class="header-bottom-mobile__col footer-logo"><img class="footer-logo__img" src="template-images/header-logo.png"/>
              <div class="footer-logo__text">
                <div class="footer-logo__text-title">ОАО 
                  <q>ЭКЗОН</q>
                </div>
                <div class="footer-logo__text-description1">Производство натуральных</div>
                <div class="footer-logo__text-description2">лекарственных средств</div>
              </div>
            </div>
            <div class="header-bottom-mobile__col header-bottom-mobile__col2">
              <div class="header__phone"><span>8 01644 </span><strong>3-24-09</strong></div>
                    <button class="button button--gradient online-order" data-target="#modal-box" href="" data-toggle="modal">Онлайн заявка</button>
            </div>
            <div class="header-bottom-mobile__col header-mobile-menu">
                    <div class="menu-mobile theme-exon">
                      <!-- Кнопка -->
                      <input type="checkbox" name="mobile-menu" id="mobile-menu_stroke-cross" style="display:none;"/>
                      <div class="mobile-menu">
                        <label class="mobile-menu__strokes" for="mobile-menu_stroke-cross">
                          <div class="mobile-menu__stroke mobile-menu__stroke-cross1"></div>
                          <div class="mobile-menu__stroke mobile-menu__stroke-cross2"></div>
                          <div class="mobile-menu__stroke mobile-menu__stroke-cross3"></div>
                        </label>
                      </div>
                      <!-- Меню -->
                      <div class="mobile-menu__menu">
                        <ul class="mobile-menu__item" id="mobile-menu">
                          <!-- Ссылка меню-->
                          <li><a href="link1.com">link1</a></li>
                          <li><a href="link2.com">link2</a></li>
                        </ul>
                      </div>
                    </div>
            </div>
          </div>
        </div>
      </div>
      <!-- ***** /Хэдер ***** -->
      <!-- ***** Контент ***** -->
      <!-- ***** /Контент *****-->
      <!-- ***** Футер ***** -->
      <!-- ***** /Футер *****-->
    </body>
  </head>
</html>
<!-- !плагин LiveReload. по завершении разработки - удалить!-->
<script src="http://localhost:35729/livereload.js"></script>