<!DOCTYPE HTML>
html(lang="en")
	head
		meta(charset="utf-8")
		meta(name="viewport" content="width=device-width, initial-scale=1.0")
		link(rel='shortcut icon' href='template-images/favikon-exon.png')
		
		// Шрифты 
		link(href="https://fonts.googleapis.com/css?family=Roboto:300,300i,400,400i,500,700,900&amp;subset=cyrillic" rel="stylesheet")
		link(href="https://fonts.googleapis.com/css?family=Roboto+Slab:400,700&amp;subset=cyrillic" rel="stylesheet")
		//- link(href="https://fonts.googleapis.com/css?family=Lato:300,300i,400,400i,700,900" rel="stylesheet")
		link(rel="stylesheet" href="font-awesome-4.7.0/css/font-awesome.min.css")
		
		// Стили
				
		// Нормалайзер 
		link(rel="stylesheet" href="style/normalize.css")

		// Bootstrap 		
		link(rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-beta/css/bootstrap.min.css" integrity="sha384-/Y6pD6FV/Vv2HJnA6t+vslU6fwYXjCFtcEpHbNJ0lyAFsXTsjBbfaDjzALeQsN6M" crossorigin="anonymous")
		// /Bootstrap 
		
		// Slick Slider
		link(rel="stylesheet" type="text/css" href="https://cdnjs.cloudflare.com/ajax/libs/slick-carousel/1.8.1/slick.min.css")
		//- link(rel="stylesheet" type="text/css" href="scripts/slick/slick.css")		
		
		// Стиль сайта
		link(rel="stylesheet" href="style/style.css")
			
		// Стиль шаблона(header - footer)
		link(rel='stylesheet' href='style/page-template.css')
			
		// /Стили
		
		// jQuery
		script(src="https://code.jquery.com/jquery-3.2.1.min.js")
		
	// Тело сайта 
	body
		//- Объявляем миксины
			//- Кнопки
				//- Кнопка-ссылка простая
		include ../blocks/buttons/button-link/button-link.pug
				//- Кнопка-ссылка с градиентом
		include ../blocks/buttons/button-link-colored/button-link-colored.pug
				//- Кнопка-модальное окно с градиентом
		include ../blocks/buttons/button-modal-colored/button-modal-colored.pug
				//- Кнопка-модальное окно простое
		include ../blocks/buttons/button-modal/button-modal.pug
				//- Кнопка поиска в шапке
		include ../blocks/header-search/header-search.pug
		include ../blocks/mobile-menu/mobile-menu.pug
		//- Блок с табами(bootstrap) на Главной
		include ../blocks/tabs-bootstrap/tabs-bootstrap.pug
		//- Содержимое блока с Табами на Главной
		include block__main-tabs-item.pug
		//- Блок Читать далее
		include ../blocks/read-more-bootstrap/read-more-bootstrap.pug
		//- Блок "Примите участие в опросе"
		include block-main-interview.pug
		//- Блок "Заголовок обычной страницы"
		include ../layout/page__title.pug
		//- Блок "Заголовок обычной страницы с _длинными крошками_"
		include ../layout/page__title-big.pug
		//- Блок "Подписаться на новости" на странице Новостей
		include ../blocks/subscribe-page-news/subscribe-page-news.pug
		//- Превью новости на странице всех новостей
		include ../layout/news-all__previews-item/news-all__previews-item.pug
		//- Главный Slick Slider
		include ../blocks/main-slider-slick/slider-slick.pug
		//- Карточка товара на странице "Каталог"
		include ../blocks/catalog__card/catalog__card.pug
		//- Список ссылок для загрузки - Страница "Личный кабинет"
		include ../blocks/list-down/list-down.pug
		//- Счетчик на странице Личный кабинет
		include ../blocks/count-plus-minus/count-plus-minus.pug
		
		// Модальные окна
		// Модальное окно - Вход для клиентов
		include ../blocks/modals/modal__header-top-login/modal__header-top-login.pug
		// Модальное окно - Оставить заявку
		include ../blocks/modals/modal__header-bottom-online-order/modal__header-bottom-online-order.pug
		// Модальное окно - Обратная связь
		include ../blocks/modals/modal__footer-call-back/modal__footer-call-back.pug		
		// Модальное окно - Принять участие в опросе
		include ../blocks/modals/modal__interview/modal__interview.pug
		// Модальное окно - География продаж
		include ../blocks/modals/modal__map/modal__map.pug
		// Модальное окно - Подтверждение регистрации партнера
		include ../blocks/modals/accept-modal/accept-modal.pug
		
		// ***** Хэдер ***** 
		include header/header.pug
		// ***** /Хэдер ***** 

		// ***** Контент ***** 
		block content
		// ***** /Контент *****

		// ***** Футер ***** 
		include footer/footer.pug
		// ***** /Футер *****
				
// !плагин LiveReload. по завершении разработки - удалить!
script(src="http://localhost:35729/livereload.js")
			
