extends page-template.pug

block content
	+crumbs-big('template-images/catalog-card__title.png', 'Каталог продукции', 'Сироп "Розавит"', '#', ['page-catalog.html', 'Каталог продукции'])
	// Содержимое страницы "Карточка товара"
	.catalog.catalog-card.inn_padd
		.catalog__inner.catalog-card__inner.site-width
			.catalog-card__cols
				// Изображение товара
				.catalog-card__col1-2.catalog-card__img-col
					.catalog-card__img
						img.catalog-card__img-image(src='template-images/catalog-card__rozavit.png')
						.catalog-card__img-new.catalog__card-novelty.on Новинка
				// Описание товара
				.catalog-card__col1-2.catalog-card__descr-col
					.catalog-card__descr
						// Заголовок
						.catalog-card__descr-title Сироп "Розавит"
						// Рег.номер
						.catalog-card__descr-reg РЕГ. 
							strong № 
							| 11/03/387
						// Свойства
						.catalog-card__descr-properties
							.catalog-card__descr-properties-name Торговое наименование: 
								strong Сироп "Розавит"
							.catalog-card__descr-properties-name-int Международное наименование: 
								strong Rosavit
							.catalog-card__descr-properties-category Категория: 
								strong Сиропы
							.catalog-card__descr-properties-function Назначение: 
								strong Профилактические
							.catalog-card__descr-properties-volume Объем: 
								strong 250мл
						// По рецепту или без
						.catalog-card__receipt
							.catalog-card__descr-receipt-yes.active Отпускается без рецепта врача
								img.catalog-card__descr-receipt-yes-img.active(src='template-images/catalog__card-no-recipe.png')
							.catalog-card__descr-receipt-no Отпускается по рецепту врача
								img.catalog-card__descr-receipt-no-img(src='template-images/catalog__card-recipe.png')
						// Разделитель
						.catalog-card__descr-separator
						// Доп.информация						
						.catalog-card__descr-addition
							p 
								strong Состав 250 мл: 
								br
								| Экстракт шиповника и рябины жидкий водный (1:1) - 90,710 г
								br
								| Аскорбиновая кислота - 0,816 г
								br
								strong Вспомогательные вещества:
								br
								| Сахар-песок, лимонная кислота, вода очищенная.
							p
								strong Фармакологическая группа.
								br
								| Аскорбиновая кислота (витамин С) в комбинации. A11GB.
							p
								strong Фармакологическое действие.
								br
								| Лекарственное средство способствует повышению неспецифической резистентности организма, усилению регенерации тканей, уменьшению проницаемости сосудов, нормализации углеводного обмена. Фармакологические свойства лекарственного средства обусловлены наличием кислоты аскорбиновой и других веществ (каротиноидов, флавоноидов, органических кислот и др.), входящих в его состав.
							p
								strong Показания к применению. 
								| Применяется для профилактики гиповитаминоза и авитаминоза витамина С, в комплексной терапии астенических состояний, в период выздоровления после инфекционных и простудных заболеваний.
							p
								strong Противопоказания. 
								| Повышенная чувствительность к компонентам лекарственного средства, детский возраст до 3-х лет.
							p
								strong Способ применения и дозы. 
								br
								| Розавит назначают внутрь, детям старше 3 лет от 1 чайной ложки до 1 десертной ложки в зависимости от возраста, взрослым по 2-3 десертные ложки 3 раза в день после еды.
							p
								strong Побочное действие. 
								br
								| Возможны аллергические реакции на компоненты лекарственного средства.
								br
								| Особые указания. С осторожностью применять при заболеваниях сахарным диабетом.
							p
								strong Передозировка. 
								br
								| Не выявлена.
							p
								strong Взаимодействие с другими лекарственными средствами. 
								br
								| При одновременном применении лекарственного средства и витаминов В1, В2, Вс и Р (рутина) определяется взаимное усиление терапевтического действия. Витамин С улучшает усвоение железа, повышает концентрацию салицилатов, антибиотиков, снижает эффект гормональных контрацептивов, антикоагулярный эффект производных кумарина.
							p
								strong Условия хранения.
								br
								| В сухом, защищенном от света, недоступном для детей месте при температуре не выше 25 оС.
							p
								strong Срок годности.
								br
								| 12 месяцев. Использовать в течение 10 суток после открытия бутылки. Не использовать позже срока, указанного на упаковке.

	// Примите участие в опросе
	+page-main-interview
