//- page-about-company.pug
extends page-template.pug

block content
	+crumbs('template-images/about-company__title.png', 'Текстовая страница', 'Текстовая страница')
	.about-company.news-single
		.about-company__info.inn_padd
			.about-company__inner.site-width
				.simple-text-block Curabitur aliquet quam id dui posuere blandit. Curabitur arcu erat, accumsan id imperdiet et, porttitor at sem. Curabitur non nulla sit amet nisl tempus convallis quis ac lectus. Donec rutrum congue leo eget malesuada. Vivamus suscipit tortor eget felis porttitor volutpat. Vivamus suscipit tortor eget felis porttitor volutpat. Lorem ipsum dolor sit amet, consectetur adipiscing elit. Vivamus magna justo, lacinia eget consectetur sed, convallis at tellus. Quisque velit nisi, pretium ut lacinia in, elementum id enim. Curabitur arcu erat, accumsan id imperdiet et, porttitor at sem.
		
		// Примите участие в опросе 
		+page-main-interview
