//- page-news-single.pug
extends page-template.pug

block content
	+crumbs-big('template-images/news-all__title.png', 'Новости', 'Новость1', '#', ['#', 'Новости'])
	// Содержимое страницы "Новость"
	.news-all.news-single.inn_padd
		.news-all__inner.site-width
			// Строка "Подписаться" и "Сортировка" 
			.news-all-small-head
				.news-all-small-head__col.news-all__back-to-all
					i(class="fa fa-angle-left" aria-hidden="true").back-to-all__arrow
					a.news-all__back-to-all-txt(href='page-news-all.html') К списку новостей
				.news-all-small-head__col
					+subscribe
			.news-single__slider
				+main-slider-slick('main-slider-slick__theme-exon', ['template-images/news-single__slider.png'], ['template-images/main-page-slider__img.png'])
			.news-single__post
				.news-single__post-date
					.news-all__previews-item-text-date 18.09.2016
				.news-single__post-title Международная специализированная выставка «Здравоохранение и Фармация EXPO-2017» в Ереване с 22 по 27 февраля
				.news-single__post-text
					p Сотрудники отдела маркетинга ОАО «Экзон» приняли участие в специализированной выставке «Здравоохранение и Фармация EXPO-2017», которая проходила 22-27 февраля в Ереване. В рамках участия в выставке была проведена дегустация продукции, а также были достигнуты договоренности о поставке гематогена в Республику Армения.
					p Сотрудники отдела маркетинга ОАО «Экзон» приняли участие в специализированной выставке «Здравоохранение и Фармация EXPO-2017», которая проходила 22-27 февраля в Ереване. В рамках участия в выставке была проведена дегустация продукции, а также были достигнуты договоренности о поставке гематогена в Республику Армения.
					p Сотрудники отдела маркетинга ОАО «Экзон» приняли участие в специализированной выставке «Здравоохранение и Фармация EXPO-2017», которая проходила 22-27 февраля в Ереване. В рамках участия в выставке была проведена дегустация продукции, а также были достигнуты договоренности о поставке гематогена в Республику Армения.
					p Сотрудники отдела маркетинга ОАО «Экзон» приняли участие в специализированной выставке «Здравоохранение и Фармация EXPO-2017», которая проходила 22-27 февраля в Ереване. В рамках участия в выставке была проведена дегустация продукции, а также были достигнуты договоренности о поставке гематогена в Республику Армения.
	// серый футер
	script(src='js/footer-grey.js')
	// Подсветка активного пункта меню
	script(src='js/active-page__news.js')
