//- Header-bottom
.header-bottom
	.header-bottom__left
		ul.header-menu
			li
				+button('Каталог продукции', '#', 'header-menu__button')
			li
				+button('Каталог продукции', '#', 'header-menu__button')
			li
				+button('Каталог продукции', '#', 'header-menu__button')
	.header-bottom__center
		.header-bottom-logo
			img.header-bottom-logo__img
			.header-bottom-logo__text
	.header-bottom__right
		ul.header-menu
			li
				+button('Каталог продукции', '#', 'header-menu__button')
			li
				+button('Каталог продукции', '#', 'header-menu__button')
			li
				+button('Каталог продукции', '#', 'button-callback button-callback__header')
	.header-bottom__left-top
		+search-flex
	.header-bottom__right-top.header-bottom__right-top-phone 8 01644 3-24-09
