@import "../../../style/vars.scss";

.header-top {
	position: relative;
	background-color: $green-d;
	color: #fff;
	z-index: 1000;
}
.header-top__inner {
	display: -webkit-flex;
	display: -ms-flex;
	display: flex;
	flex-wrap: wrap;
	justify-content: space-between;
	margin: auto;
	font-size: 18px;
	font-weight: 400;
}
.header-top__item {
	display: -webkit-flex;
	display: -ms-flex;
	display: flex;
	padding: 10px 0;
}
.header-top__icon {
	margin-right: 7px;
	height: 28px;
}
.header-top__text {
  display: flex;
  align-items: center;
	padding: 0 10px;
}
.header-top__item-pharma,
.header-top__item-pharma:hover {
	color: #fff;
}

/* Кнопка входа */
.header-top-login {
	cursor: pointer;
	display: none;
	padding-left: 10px;
  padding-right: 10px;
}
.header-top-login.active {
	display: -webkit-flex;
	display: -ms-flex;
	display: flex;
}
.header-top-login:hover {
	text-decoration: underline;
}
.header-top-login.header-top-logged {
	background-color: $grey-brd;
	padding-right: 40px;
}
.header-top-login.header-top-logged:hover {
	text-decoration: none;
}
.header-top-login__arrow {
	position: absolute;
	top: 15px; right: 20px;
	font-size: 18px;
}
.header-top-login .header-top__icon {
	margin-left: 7px;
}
.header-top.inn_padd {
	padding-top: 0;
	padding-bottom: 0;
}

.header-top-logged {
	position: relative;
}

	/* Меню входа */
.header-top-logged__menu {
	position: absolute;
	left: 0;
	width: 100%;
	padding: 15px;
	display: -webkit-flex;
	display: -ms-flex;
	display: flex;
	flex-direction: column;
	background-color: $grey-brd;
  top: -50px;
	opacity: 0;
	transition: .2s ease;
	z-index: -1;
}
.header-top-logged:hover .header-top-logged__menu {
	top: 100%;
	opacity: 1;
}
.fa-angle-up {
	opacity: 0;
	transition: .2s ease;
}
.fa-angle-down {
	transition: .2s ease;
}
.header-top-logged:hover .fa-angle-up {
	opacity: 1;
}
.header-top-logged:hover .fa-angle-down {
	opacity: 0;
}

a.header-top-logged__menu-btn {
	color: #fff;
	padding: 5px 5px;
	cursor: pointer;
}
	/* /Меню входа */



/* /Кнопка входа */





/* Переключатель языка */
.header-top__item-abs {
	// position: absolute;
	// right: 5px;
	// bottom: 10px;

	position: absolute;
	right: 5px;
	height: 100%;
	top: 0;
	display: flex;
	align-items: center;
}
a.ru-eng__eng,
a.ru-eng__ru {
	display: none;
	align-items: center;
	border: 1px solid white;
	border-radius: 15px;
	padding: 1px;
	padding-left: 7px;
	padding-right: 3px;
	cursor: pointer;
	height: 28px;
	font-size: 16px;
	font-weight: 500;
	color: #fff;
}
.ru-eng__eng.active,
.ru-eng__ru.active {
	display: -webkit-flex;
	display: -ms-flex;
	display: flex;
}
.ru-eng__text {
	margin-top: 2px;
}
.ru-eng__img {
	margin-left: 5px;
}
/* /Переключатель языка */

/* Адаптация */
@media screen and (max-width: 1510px) {
	.header-top__inner {
		padding-right: 80px;
		justify-content: space-around;
	}
}

@media screen and (max-width: 630px) {
	.header-adress {
		display: none;
	}
	.header-top__inner {
		font-size: 13px !important;
	}
	.ru-eng__eng {
		font-size: 11.5px !important;
	}
}

/* /Адаптация */
