// @import "/home/xander/GitHub/Exon-BEM/main-template/styles/vars.scss";

.header-top {
	position: relative;
	background-color: #6e6e6e;
	color: #fff;
	z-index: 100;
}
.header-top__inner {
	display: -webkit-flex;
	display: -ms-flex;
	display: flex;
	flex-wrap: wrap;
	justify-content: space-between;
	margin: auto;
	font-size: 18px;
	font-weight: 400;
}
.header-top__item {
	display: -webkit-flex;
	display: -ms-flex;
	display: flex;
	padding: 5px 0;
}
.header-top__icon {
	margin-right: 7px;
	height: 28px;
}
.header-top__text {
    display: flex;
    align-items: center;
}
.header-top-login {
	cursor: pointer;
}

/* Переключатель языка */
.header-top__item-abs {
	// position: absolute;
	// right: 5px;
	// bottom: 10px;

	position: absolute;
	right: 5px;
	height: 100%;
	top: 0;
	display: flex;
	align-items: center;
}
.ru-eng__eng {
	display: -webkit-flex;
	display: -ms-flex;
	display: flex;
	align-items: center;
	border: 1px solid white;
	border-radius: 15px;
	padding: 1px;
	padding-left: 7px;
	padding-right: 3px;
	cursor: pointer;
	height: 28px;
	font-size: 16px;
	font-weight: 500;
}
.ru-eng__text {
	margin-top: 2px;
}
.ru-eng__img {
	margin-left: 5px;
}
/* /Переключатель языка */

/* Адаптация */
@media screen and (max-width: 1510px) {
	.header-top__inner {
		padding-right: 80px;
		justify-content: space-around;
	}
}

@media screen and (max-width: 630px) {
	.header-adress {
		display: none;
	}
	.header-top__inner {
		font-size: 13px !important;
	}
	.ru-eng__eng {
		font-size: 11.5px !important;
	}
}

/* /Адаптация */
