//- // Блок наполнения с заданием размеров и названием
//- mixin content-block(style, title)
//- 	.content-block(syle=style; style="display: flex; justify-content: center; align-items: center;")= title

// Блок наполнения с заданием размеров и названием
mixin content-block(style, title)
	.content-block(style=style)= title
