html {
	background-color: #6eb47f;
}
body {
	background-color: rgb(194, 255, 142);
}
body {
	margin-bottom: 15px;
}
/* Ширина сайта */
.site-width {
	max-width: 1300px;
}
/* Внутренние отступы родительских блоков сайта */
.inn_padd {
	padding: 5px;
}

/* Стили кавычек */
q {
    quotes: "\00ab" "\00bb";
}

/* Общий шаблон кнопки со ссылкой */
@import "/home/xander/GitHub/Exon-BEM/main-template/template/blocks/buttons/button-link/button-link.scss";
/* Шаблон цветной кнопки со ссылкой */
@import "../template/blocks/buttons/button-link-colored/button-link-colored.scss";
/* Форма поиска в хэдере */
@import "../template/blocks/header-search/header-search.scss";
