$grey: #4a4a4a; /* Глобальный серый цвет */
$grey-bg: #f2f2f2; /* Серый цвет бэкграунда */
$grey-brd: #6e6e6e; /* Серый цвет бордюров */
$blue: #4fb1f6; /* Глобальный голубой цвет */
$green: #53e1a9; /* Глобальный зеленый цвет */
$green-d: #4ab75e; /* Зеленый - темный */
$red: #e7001f; /* Красный цвет */
$page-pad: 120px; /* Верхний отстут контента страницы от заголовка */
