
<div class="catalog__menu">
  <!-- Раздел каталога-->
  <div class="catalog__menu-item active-item">
    <div class="catalog__menu-item-title">Лекарственные средства
      <div class="catalog__menu-item-title-arrow"><i class="fa fa-angle-down" aria-hidden="true"></i><i class="fa fa-angle-up" aria-hidden="true"></i></div>
    </div>
    <!-- Подраздел каталога-->
    <div class="catalog__submenu"><a class="catalog__submenu-item active" href="#">Сиропы
        <div class="catalog__submenu-item-label"></div></a><a class="catalog__submenu-item" href="#">Гематогены
        <div class="catalog__submenu-item-label"></div></a><a class="catalog__submenu-item" href="#">Таблетки
        <div class="catalog__submenu-item-label"></div></a><a class="catalog__submenu-item" href="#">Порошки и гранулы
        <div class="catalog__submenu-item-label"></div></a><a class="catalog__submenu-item" href="#">Капсулы
        <div class="catalog__submenu-item-label"></div></a><a class="catalog__submenu-item" href="#">Прочие лекарственные средства
        <div class="catalog__submenu-item-label"></div></a></div>
  </div>
  <!-- Раздел каталога-->
  <div class="catalog__menu-item">
    <div class="catalog__menu-item-title">Биологически активные добавки
      <div class="catalog__menu-item-title-arrow"><i class="fa fa-angle-down" aria-hidden="true"></i><i class="fa fa-angle-up" aria-hidden="true"></i></div>
    </div>
    <!-- Подраздел каталога-->
    <div class="catalog__submenu hide"><a class="catalog__submenu-item" href="#">Сиропы
        <div class="catalog__submenu-item-label"></div></a><a class="catalog__submenu-item" href="#">Гематогены
        <div class="catalog__submenu-item-label"></div></a></div>
  </div>
  <!-- Раздел каталога-->
  <div class="catalog__menu-item">
    <div class="catalog__menu-item-title">Пищевые продукты
      <div class="catalog__menu-item-title-arrow"><i class="fa fa-angle-down" aria-hidden="true"></i><i class="fa fa-angle-up" aria-hidden="true"></i></div>
    </div>
    <!-- Подраздел каталога-->
    <div class="catalog__submenu hide"><a class="catalog__submenu-item" href="#">Сиропы
        <div class="catalog__submenu-item-label"></div></a><a class="catalog__submenu-item" href="#">Гематогены
        <div class="catalog__submenu-item-label"></div></a></div>
  </div>
  <link rel="stylesheet" href="catalog-menu.css"/>
  <script src="https://code.jquery.com/jquery-3.2.1.min.js"></script>
  <script src="catalog__menu.js"></script>
</div>
<script src="http://localhost:35729/livereload.js"></script>