//- Миксин - Кнопка со ссылкой
include ../../buttons/button-link/button-link.pug

.header-bottom
	.header-bottom__inner
		.header-bottom__left
			ul.menu.menu_horizont
				li
					+button-link('button-link__menu mod_rounded', '#', 'Каталог продукции')
		.header-bottom__center
		.header-bottom__right
