.main-slider-slick__theme-exon .slick-prev,
.main-slider-slick__theme-exon .slick-arrow {
	position: relative;
	height: 70px; width: 70px;
	background-color: #fff;
	border: 1px solid #fff;
	border-radius: 50px;
	color: rgba(107, 79, 2, 0);
	z-index: 100;
	outline: none;
	cursor: pointer;
	margin-top: -80px;
}

/* Стрелка НАЗАД */
.main-slider-slick__theme-exon .slick-prev:before {
	content: '';
	position: absolute;
	background-image: url(../template/layout/template-images/main-page-slider__arrow-right-grey.png);
	width: 50px; height: 50px;
	background-repeat: no-repeat;
	background-position: center;
	background-color: #fff;
	left: 50%; top: 50%;
	transform: translate(-50%,-50%) rotate(180deg);
	border-radius: 50px;
	transition: .2s ease;
	z-index: 100;
}
.main-slider-slick__theme-exon .slick-prev:after {
	content: '';
	position: absolute;
	background-image: url(../template/layout/template-images/main-page-slider__arrow-left-colored.png);
	width: 50px; height: 50px;
	background-repeat: no-repeat;
	background-position: center;
	left: 50%; top: 50%;
	transform: translate(-50%,-50%);
	border-radius: 50px;
	transition: .2s ease;
	z-index: 90;
}
.main-slider-slick__theme-exon .slick-prev:hover:before {
	opacity: 0;
}
/* /Стрелка НАЗАД */

/* Стрелка ВПЕРЕД */
.main-slider-slick__theme-exon .slick-next:before {
	content: '';
	position: absolute;
	background-image: url(../template/layout/template-images/main-page-slider__arrow-right-grey.png);
	width: 50px; height: 50px;
	background-repeat: no-repeat;
	background-position: center;
	background-color: #fff;
	left: 50%; top: 50%;
	transform: translate(-50%,-50%);
	border-radius: 50px;
	transition: .2s ease;
	z-index: 100;
}
.main-slider-slick__theme-exon .slick-next:after {
	content: '';
	position: absolute;
	background-image: url(../template/layout/template-images/main-page-slider__arrow-left-colored.png);
	width: 50px; height: 50px;
	background-repeat: no-repeat;
	background-position: center;
	left: 50%; top: 50%;
	transform: translate(-50%,-50%) rotate(180deg);
	border-radius: 50px;
	transition: .2s ease;
	z-index: 90;
}
.main-slider-slick__theme-exon .slick-next:hover:before {
	opacity: 0;
}
/* /Стрелка ВПЕРЕД */

/* Буллеты */
.main-slider-slick__theme-exon .slick-dots {
  order: 1;
  list-style: none;
  padding: 0;
  margin: 0;
	display: -webkit-flex;
	display: -ms-flex;
	display: flex;
	align-items: center;
	margin-top: -90px;
}
.main-slider-slick__theme-exon .slick-dots button {
	position: relative;
	width: 60px; height: 60px;
	border-radius: 100px;
	color: rgba(184, 15, 14, 0);
	background-color: #fff;
	border: none;
	margin: 0 25px;
	outline: none;
}
.main-slider-slick__theme-exon .slick-dots button:before {
	content: '';
	position: absolute;
	left: 50%; top: 50%;
	transform: translate(-50%,-50%);
	width: 40px; height: 40px;
	border-radius: 50px;
	border: none;
	background-color: $blue;
	opacity: .5;
	transition: .3s ease;
}
.main-slider-slick__theme-exon .slick-dots .slick-active button:before,
.main-slider-slick__theme-exon .slick-dots button:hover:before {
	opacity: 1;
}
.main-slider-slick__theme-exon {

}
.main-slider-slick__theme-exon {

}
.main-slider-slick__theme-exon {

}
/* /Буллеты */
