mixin input-js(selectName)
	#catalog__menu.catalog__menu
		.form.no-widget(class= selectCustom1)
			select(name= selectName)
				option Сиропы
				option Гематогены
				option Таблетки
				option Порошки и гранулы
				option Капсулы
				option Прочие лекарственные средства

			// Раздел каталога
			.select-custom.catalog__menu-item.active-item.select(role="listbox")
				.select-custom.catalog__menu-item-title.value Сообщение
				// Подраздел каталога
				.select-custom.catalog__submenu.optList(role="presentation")
					.select-custom.catalog__submenu-item.option(role="option") Сиропы
					.select-custom.catalog__submenu-item.option(role="option") Гематогены
					.select-custom.catalog__submenu-item.option(role="option") Таблетки
					.select-custom.catalog__submenu-item.option(role="option") Порошки и гранулы
					.select-custom.catalog__submenu-item.option(role="option") Капсулы
					.select-custom.catalog__submenu-item.option(role="option") Прочие лекарственные средства
				.select-custom.catalog__menu-item-title-arrow
					i(class="fa fa-angle-down" aria-hidden="true")
					i(class="fa fa-angle-up" aria-hidden="true")
