
<!-- https://developer.mozilla.org/en-US/docs/Learn/HTML/Forms/How_to_build_custom_form_widgets-->
<!-- Bootstrap 		-->
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-beta/css/bootstrap.min.css" integrity="sha384-/Y6pD6FV/Vv2HJnA6t+vslU6fwYXjCFtcEpHbNJ0lyAFsXTsjBbfaDjzALeQsN6M" crossorigin="anonymous"/>
<!-- /Bootstrap -->
<!-- jQuery-->
<script src="https://code.jquery.com/jquery-3.2.1.min.js"></script>
<link rel="stylesheet" href="/home/xander/GitHub/Exon-BEM/main-template/template/layout/font-awesome-4.7.0/css/font-awesome.min.css"/>
<div class="catalog__menu">
  <form class="no-widget">
    <select name="myFruit">
      <option>Сиропы</option>
      <option>Гематогены</option>
      <option>Таблетки</option>
      <option>Порошки и гранулы</option>
      <option>Капсулы</option>
      <option>Прочие лекарственные средства</option>
    </select>
    <!-- Раздел каталога-->
    <div class="catalog__menu-item active-item select" role="listbox">
      <div class="catalog__menu-item-title value">Сообщение</div>
      <!-- Подраздел каталога-->
      <div class="catalog__submenu optList" role="presentation">
        <div class="catalog__submenu-item option" role="option">Сиропы</div>
        <div class="catalog__submenu-item option" role="option">Гематогены</div>
        <div class="catalog__submenu-item option" role="option">Таблетки</div>
        <div class="catalog__submenu-item option" role="option">Порошки и гранулы</div>
        <div class="catalog__submenu-item option" role="option">Капсулы</div>
        <div class="catalog__submenu-item option" role="option">Прочие лекарственные средства</div>
      </div>
      <div class="catalog__menu-item-title-arrow"><i class="fa fa-angle-down" aria-hidden="true"></i><i class="fa fa-angle-up" aria-hidden="true"></i></div>
    </div>
    <input type="submit"/>
  </form>
</div>
<link rel="stylesheet" href="catalog-menu/catalog-menu.css"/>
<script src="catalog-menu/catalog__menu.js"></script>
<link rel="stylesheet" href="input-js.css"/>
<script src="input-js.js"></script>
<script src="http://localhost:35729/livereload.js"></script>
<!-- Bootstrap			-->
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.11.0/umd/popper.min.js" integrity="sha384-b/U6ypiBEHpOf/4+1nzFpr53nxSS+GLCkfwBdFNTxtclqqenISfwAzpKaMNFNmj4" crossorigin="anonymous"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-beta/js/bootstrap.min.js" integrity="sha384-h0AbiXch4ZDo7tp9hKZ4TsHbi047NrKGLO3SEJAg45jXxnGIfYzk4Si90RDIqNm1" crossorigin="anonymous"></script>
<!-- /Bootstrap-->