
<!-- Header-top-->
<div class="header-top inn_padd">
  <div class="header-top__inner site-width">
    <div class="header-top__item"><img class="header-top__icon" src="template-images/header-top-point.png"/>
      <div class="header-top__text">225612, Республика Беларусь, г.Дрогичин, ул.Ленина 202</div>
    </div>
    <div class="header-top__item"><img class="header-top__icon" src="template-images/header-top-nadzor.png"/>
      <div class="header-top__text">Формаконадзор</div>
    </div>
    <div class="header-top__item header-top-login" data-target="#modal-box" href="" data-toggle="modal"><img class="header-top__icon" src="template-images/header-top-login.png"/>
      <div class="header-top__text">Вход для клиентов</div>
    </div>
    <div class="header-top__item-abs ru-eng">
      <div class="ru-eng__eng">
        <div class="ru-eng__text">ENG</div><img class="ru-eng__img" src="template-images/header-top-eng.png"/>
      </div>
    </div>
  </div>
</div>