// Header-top
.header-top.inn_padd
	.header-top__inner.site-width
		.header-top__item.header-adress
			img.header-top__icon(src='template-images/header-top-point.png')
			.header-top__text 225612, Республика Беларусь, г.Дрогичин, ул.Ленина 202
		.header-top__item
			img.header-top__icon(src='template-images/header-top-nadzor.png')
			.header-top__text Формаконадзор
		.header-top__item.header-top-login(data-target='#modal-box' href='' data-toggle='modal')= text
			img.header-top__icon(src='template-images/header-top-login.png')
			.header-top__text Вход для клиентов
		.header-top__item-abs.ru-eng
			.ru-eng__eng
				.ru-eng__text ENG
				img.ru-eng__img(src='template-images/header-top-eng.png')
			//- .ru-eng__ru	
			//- 	.ru-eng__text
			//- 	.ru-eng__img
  
