
<!-- Header-top-->
<div class="header-top inn_padd">
  <div class="header-top__inner site-width">
    <div class="header-top__item header-adress"><img class="header-top__icon" src="template-images/header-top-point.png"/>
      <div class="header-top__text">225612, Республика Беларусь, г.Дрогичин, ул.Ленина 202</div>
    </div><a class="header-top__item header-top__item-pharma" href="page-pharma.html"><img class="header-top__icon" src="template-images/header-top-nadzor.png"/>
      <div class="header-top__text">Фармаконадзор</div></a>
    <!-- Вход для клиентов - Вход не совершен (активируется классом .active)-->
    <div class="header-top__item header-top-login active" data-target="#modal-box" href="" data-toggle="modal"><img class="header-top__icon" src="template-images/header-top-login.png"/>
      <div class="header-top__text">Вход для клиентов</div>
    </div>
    <!-- Вход для клиентов - Вход совершен (активируется классом .active)-->
    <div class="header-top__item header-top-login header-top-logged"><img class="header-top__icon" src="template-images/header-top-client.png"/>
      <div class="header-top__text">Клиент 123546</div>
      <!-- Вход для клиентов - Меню--><i class="fa fa-angle-up header-top-login__arrow" aria-hidden="true"></i><i class="fa fa-angle-down header-top-login__arrow" aria-hidden="true"></i>
      <div class="header-top-logged__menu"><a class="header-top-logged__menu-btn header-top-logged__menu-lk" href="page-lk.html">Личный кабинет</a><a class="header-top-logged__menu-btn header-top-logged__menu-logout" href="#">Выйти</a></div>
    </div>
    <!-- Переключатель языков-->
    <div class="header-top__item-abs ru-eng"><a class="ru-eng__eng active" href="#">
        <div class="ru-eng__text">ENG</div><img class="ru-eng__img" src="template-images/header-top-eng.png"/></a><a class="ru-eng__ru" href="#">
        <div class="ru-eng__text">РУС</div><img class="ru-eng__img" src="template-images/header-top-eng.png"/></a></div>
  </div>
</div>