.modal.modal-forms.fade#regPartner(tabindex="-1" role="dialog" aria-labelledby="assort-btn" aria-hidden="true")
	.modal-box.modal-dialog.button.button--gradient
		.modal__content
			img.modal__reg-partner-img(src='template-images/reg-partner__doctor.png')
			.modal__content-title Ваша заявка принята
			.modal__reg-partner-text Благодарим за ваше обращение.
				br
				| Мы свяжемся с вами в ближайшее время
