// Модальное окно Bootstrap
.modal.fade#modal-box(tabindex="-1" role="dialog" aria-labelledby="assort-btn" aria-hidden="true")
	.modal-box.modal-dialog 
		block modals__content-login
		//- вставить нужный блок контента, созданный через Extends
