// Модальное окно Bootstrap

include __content/modals__content-login.pug

.modal.fade#modal-box(tabindex="-1" role="dialog" aria-labelledby="assort-btn" aria-hidden="true")
	.modal-box.modal-dialog 
		+modals__content-login
		//- вставляем миксин содержимого нужного модального окна
