a.button-link {
	color: $grey !important;
	border: 1px solid #fff;
	border-radius: 50px;
	transition: .2s ease;
	padding: 8px 15px;
	font-size: 22px;
	font-weight: 300;
}
a.button-link:hover {
	color: $grey !important;
	text-decoration: none;
	border-color: $grey;
}

/* Вариант для модального окна */
.button-link {
	color: $grey !important;
	border: 1px solid #fff;
	border-radius: 50px;
	transition: .2s ease;
	padding: 8px 15px;
	font-size: 22px;
	font-weight: 300;
}
.button-link:hover {
	color: $grey !important;
	text-decoration: none;
	border-color: $grey;
}
.button-link.btn-page-main-all-news {
	color: #fff !important;
	font-size: 28px !important;
	border: 2px solid;
	padding: 11px 36px;
	outline: none;
  background-color: transparent;
	cursor: pointer;
}
.button-link.btn-page-main-all-news:hover {
	color: #fff !important;
	border-color: #fff;
}

/* для пунктов Главного меню */
.header-bottom a.button-link.active {
	color: $grey !important;
	text-decoration: none;
	border-color: $grey;
}
