.product-count {
	display: -webkit-flex;
	display: -ms-flex;
	display: flex;
	justify-content: space-around;
}
.product-count .minus,
.product-count .plus {
	height: 25px; width: 25px;
	border-radius: 50%;
	background-color: $grey-bg;
	display: -webkit-flex;
	display: -ms-flex;
	display: flex;
	justify-content: center;
	align-items: center;
	cursor: pointer;
}
