@charset "UTF-8";
/* Глобальный серый цвет */
/* Серый цвет бэкграунда */
/* Серый цвет бордюров */
/* Глобальный голубой цвет */
/* Глобальный зеленый цвет */
/* Зеленый - темный */
/* Красный цвет */
/* Верхний отстут контента страницы от заголовка */
.catalog__inner {
  margin: auto;
  margin-top: 80px; }

.catalog__cols {
  display: -webkit-flex;
  display: -ms-flex;
  display: flex; }

.catalog__col1 {
  max-width: 316px; }

.catalog__col2 {
  padding-left: 40px; }

/* Сортировка */
/* Раскладка */
.catalog__sorting {
  position: relative;
  display: inline-block;
  width: 100%;
  margin-bottom: 50px; }

.catalog__sorting-float-block {
  display: flex;
  width: 50%;
  float: right;
  justify-content: space-between; }

/* /Раскладка */
.catalog__sorting-only-new-a {
  padding-left: 40px;
  position: relative;
  color: #4a4a4a;
  font-size: 18px;
  font-weight: 300; }

.catalog__sorting-only-new-a:hover {
  color: #4a4a4a; }

.catalog__sorting-only-new-bullet {
  position: absolute;
  left: 0;
  width: 30px;
  height: 30px;
  border: 1px solid #aeaeae;
  border-radius: 50%;
  top: -5px; }

.active .catalog__sorting-only-new-bullet {
  border-color: #4ab75e;
  background-color: #4ab75e; }

.catalog__sorting-alphabet-a-z,
.catalog__sorting-alphabet-z-a {
  font-size: 18px;
  font-weight: 300;
  color: #4a4a4a;
  display: none; }

.catalog__sorting-alphabet-a-z.active,
.catalog__sorting-alphabet-z-a.active {
  display: inline-block; }

.catalog__sorting-alphabet-a-z-txt,
.catalog__sorting-alphabet-z-a-txt {
  margin-right: 10px;
  display: inline-block; }

a.catalog__sorting-alphabet-a-z:hover,
a.catalog__sorting-alphabet-z-a:hover {
  text-decoration: none;
  color: #4a4a4a; }

a.catalog__sorting-alphabet-a-z:hover .catalog__sorting-alphabet-a-z-txt,
a.catalog__sorting-alphabet-z-a:hover .catalog__sorting-alphabet-z-a-txt {
  text-decoration: underline; }

/* Адаптация */
@media screen and (max-width: 880px) {
  .catalog__sorting-float-block {
    width: 100%;
    justify-content: space-around; } }
@media screen and (max-width: 460px) {
  .catalog__sorting-float-block {
    flex-direction: column;
    align-items: center; }

  .catalog__sorting-only-new {
    margin-bottom: 20px; } }
/* /Адаптация */
/* /Сортировка */
/* Меню */
.catalog__menu {
  width: 316px;
  border: 2px solid rgba(110, 110, 110, 0.24);
  border-radius: 20px;
  background-color: #f2f2f2; }

.catalog__menu-item {
  width: calc(100% + 4px);
  border: 2px solid transparent;
  border-radius: 20px;
  margin: -2px;
  padding-top: 0;
  transition: border-color .2s ease; }

.catalog__menu-item.active-item {
  border: 2px solid #4ab75e;
  border-radius: 20px;
  margin: -2px;
  transition: border-color .2s ease;
  padding-top: 20px; }

.catalog__menu-item.active-item:first-child {
  margin-top: -2px; }

.catalog__menu-item-title {
  position: relative;
  padding-top: 8px;
  padding-left: 20px;
  padding-right: 35px;
  padding-bottom: 8px;
  font-size: 18px;
  font-weight: 600;
  line-height: 20px;
  color: #4a4a4a;
  cursor: pointer;
  transition: .2s ease; }

.catalog__menu-item-title:hover,
.catalog__menu-item.active-item .catalog__menu-item-title {
  color: #4ab75e; }

.catalog__menu-item:first-child {
  padding-top: 20px; }

.catalog__menu-item:nth-last-child(2) {
  padding-bottom: 20px; }

.catalog__menu-item.active-item:nth-last-child(2) {
  padding-bottom: 0; }

/* Содержимое подраздела */
.catalog__submenu {
  padding-bottom: 20px;
  opacity: 1;
  overflow: hidden; }

.catalog__submenu-item {
  position: relative;
  display: inline-block;
  width: 100%;
  max-width: 300px;
  font-size: 16px;
  color: #4a4a4a;
  transition: .2s ease;
  padding: 5px 0;
  padding-right: 30px;
  padding-left: 40px; }

.catalog__submenu-item:hover,
.catalog__submenu-item.active {
  color: #4ab75e; }

.catalog__submenu-item-label {
  display: none;
  position: absolute;
  left: -20px;
  top: -1px;
  width: 37px;
  height: 37px;
  border-radius: 50%;
  background-color: #4ab75e; }

.catalog__submenu-item.active .catalog__submenu-item-label {
  display: inline-block; }

.catalog__menu-item-title-arrow {
  position: absolute;
  right: 15px;
  top: 6px;
  opacity: 1; }

.catalog__menu-item-title-arrow i {
  position: absolute;
  right: 0;
  transition: .3s ease; }

.catalog__menu-item .fa-angle-up {
  opacity: 0; }

.catalog__menu-item .fa-angle-down {
  opacity: 1; }

.catalog__menu-item.active-item .fa-angle-up {
  opacity: 1; }

.catalog__menu-item.active-item .fa-angle-down {
  opacity: 0; }

/* /Содержимое подраздела */
/* /Меню */
/* Текст */
.catalog__text {
  margin: 80px 0; }

/* /Текст */
/* Карточка товаров */
.catalog__card {
  text-align: center;
  display: inline-block;
  width: 318px;
  height: 580px;
  position: relative;
  padding-top: 40px;
  margin-bottom: 30px; }

.catalog__card-txt-title {
  font-size: 17px;
  font-weight: 500;
  color: #4a4a4a;
  margin: 45px 0 30px; }

.catalog__card-txt-text {
  font-size: 15px;
  font-weight: 300;
  color: #4a4a4a;
  width: 94%;
  margin: auto;
  line-height: 19px; }

a.catalog__card:hover {
  text-decoration: none;
  color: #4a4a4a; }

.catalog__card:before {
  background: linear-gradient(#4fb1f6, #53e1a9);
  z-index: -2;
  opacity: 0;
  transition: .3s ease; }

.catalog__card:hover:before {
  opacity: 1; }

.catalog__card:before,
.catalog__card:after {
  content: '';
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  border-radius: 10px; }

.catalog__card:after {
  background-color: #fff;
  z-index: -1;
  transition: .2s ease;
  margin: 2px;
  opacity: 1; }

.catalog__card:hover:after {
  z-index: -1;
  opacity: 1; }

.catalog__card-recipe,
.catalog__card-no-recipe {
  font-size: 13px;
  font-weight: 300;
  color: #4a4a4a;
  position: absolute;
  left: 20px;
  bottom: 10px;
  padding-left: 20px;
  background-color: #fff; }

.catalog__card-recipe-img,
.catalog__card-no-recipe-img {
  position: absolute;
  left: 0;
  top: -2px; }

.catalog__card-no-recipe,
.catalog__card-recipe.on {
  display: inline-block; }

.catalog__card-no-recipe.on,
.catalog__card-recipe {
  display: none; }

.catalog__card-novelty {
  color: #fff;
  font-size: 18px;
  font-weight: 300;
  background-color: #e7001f;
  display: none;
  border-radius: 30px;
  padding: 3px 22px;
  position: absolute;
  top: -15px;
  right: 20px; }

.catalog__card-novelty.on {
  display: inline-block; }

/* /Карточка товаров */
/* Блок карточек */
.catalog__items {
  display: -webkit-flex;
  display: -ms-flex;
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap; }

/* Адаптация */
@media screen and (max-width: 1300px) {
  .catalog__items {
    justify-content: space-around; } }
@media screen and (max-width: 760px) {
  .catalog__cols {
    flex-direction: column; }

  .catalog__col1 {
    max-width: 100%;
    margin-bottom: 70px; }

  .catalog__col2 {
    padding-left: 0; }

  .catalog__navbar {
    margin: auto; }

  .catalog__banner {
    display: none; } }
@media screen and (max-width: 350px) {
  .catalog__navbar {
    width: 305px; } }
/* /Адаптация */
/* /Блок карточек */
.catalog__banner {
  margin-top: 50px; }

/*# sourceMappingURL=page-catalog.css.map */
