@import "../style/vars.scss";

.catalog__inner {
	margin: auto;
	margin-top: 80px;
}
.catalog__cols {
	display: -webkit-flex;
	display: -ms-flex;
	display: flex;
}
.catalog__col1 {
	max-width: 316px;
}
.catalog__col2 {
	padding-left: 40px;
}

/* Сортировка */
	/* Раскладка */
.catalog__sorting {
	position: relative;
	display: inline-block;
	width: 100%;
	margin-bottom: 50px;
}
.catalog__sorting-float-block {
	display: flex;
	width: 50%;
	float: right;
	justify-content: space-between;
}
	/* /Раскладка */

	// Новинки
.catalog__sorting-only-new-a {
	padding-left: 40px;
	position: relative;
	color: $grey;
	font-size: 18px;
	font-weight: 300;
}
.catalog__sorting-only-new-a:hover {
	color: $grey;
}
.catalog__sorting-only-new-bullet {
	position: absolute;
	left: 0;
	width: 30px; height: 30px;
	border: 1px solid #aeaeae;
	border-radius: 50%;
	top: -5px;
}
.active .catalog__sorting-only-new-bullet {
	border-color: $green-d;
	background-color: $green-d;
}

// A-Z/Z-A
.catalog__sorting-alphabet-a-z,
.catalog__sorting-alphabet-z-a {
	font-size: 18px;
	font-weight: 300;
	color: $grey;
	display: none;
}
.catalog__sorting-alphabet-a-z.active,
.catalog__sorting-alphabet-z-a.active {
	display: inline-block;
}
.catalog__sorting-alphabet-a-z-txt,
.catalog__sorting-alphabet-z-a-txt {
	margin-right: 10px;
	display: inline-block;
}
.catalog__sorting-alphabet-a-z strong,
.catalog__sorting-alphabet-z-a strong {
}
a.catalog__sorting-alphabet-a-z:hover,
a.catalog__sorting-alphabet-z-a:hover {
	text-decoration: none;
	color: $grey;
}
a.catalog__sorting-alphabet-a-z:hover .catalog__sorting-alphabet-a-z-txt,
a.catalog__sorting-alphabet-z-a:hover .catalog__sorting-alphabet-z-a-txt {
	text-decoration: underline;
}
	/* Адаптация */
@media screen and (max-width: 880px) {
	.catalog__sorting-float-block {
    width: 100%;
    justify-content: space-around;
	}
}
@media screen and (max-width: 460px) {
	.catalog__sorting-float-block {
    flex-direction: column;
    align-items: center;
	}
	.catalog__sorting-only-new {
    margin-bottom: 20px;
	}
}
	/* /Адаптация */

/* /Сортировка */


/* Меню */
.catalog__menu {
	width: 316px;
	border: 2px solid rgba(110, 110, 110, 0.24);
	border-radius: 20px;
	background-color: $grey-bg;
}

// Раздел каталога
.catalog__menu-item {
	width: calc(100% + 4px);
	border: 2px solid transparent;
	border-radius: 20px;
  margin: -2px;
	padding-top: 0;
	transition: border-color .2s ease;
}
.catalog__menu-item.active-item {
	border: 2px solid $green-d;
	border-radius: 20px;
	margin: -2px;
	transition: border-color .2s ease;
	padding-top: 20px;
}
.catalog__menu-item.active-item:first-child {
  margin-top: -2px;
}

// Заголовок подраздела
.catalog__menu-item-title {
	position: relative;
	padding-top: 8px;
	padding-left: 20px;
	padding-right: 35px;
	padding-bottom: 8px;
	font-size: 18px; font-weight: 600; line-height: 20px;
	color: $grey;
	cursor: pointer;
	transition: .2s ease;
}
.catalog__menu-item-title:hover,
.catalog__menu-item.active-item .catalog__menu-item-title {
	color: $green-d;
}
.catalog__menu-item:first-child {
    padding-top: 20px;
}
.catalog__menu-item:nth-last-child(2) {
    padding-bottom: 20px;
}
.catalog__menu-item.active-item:nth-last-child(2) {
    padding-bottom: 0;
}

/* Содержимое подраздела */
.catalog__submenu {
	padding-bottom: 20px;
  opacity: 1;

	overflow: hidden;
}



.catalog__submenu-item {
	position: relative;
	display: inline-block;
	width: 100%; max-width: 300px;
	font-size: 16px;
	color: $grey;
	transition: .2s ease;
	padding: 5px 0; padding-right: 30px; padding-left: 40px;
}
.catalog__submenu-item:hover,
.catalog__submenu-item.active {
	color: $green-d;
}
// Лэйбл активного пункта меню
.catalog__submenu-item-label {
	display: none;
	position: absolute;
	left: -20px; top: -1px;
	width: 37px; height: 37px;
	border-radius: 50%;
	background-color: $green-d;
}
.catalog__submenu-item.active .catalog__submenu-item-label {
	display: inline-block;
}

//Стрелки
.catalog__menu-item-title-arrow {
	position: absolute;
	right: 15px; top: 6px;
	opacity: 1;
}
.catalog__menu-item-title-arrow i {
	position: absolute;
	right: 0;
	transition: .3s ease;
}
.catalog__menu-item .fa-angle-up {
	opacity: 0;
}
.catalog__menu-item .fa-angle-down {
	opacity: 1;
}
.catalog__menu-item.active-item .fa-angle-up {
	opacity: 1;
}
.catalog__menu-item.active-item .fa-angle-down {
	opacity: 0;
}
/* /Содержимое подраздела */


/* /Меню */


/* Текст */
.catalog__text {
	margin: 80px 0;
}
/* /Текст */

/* Карточка товаров */
@import "../../blocks/catalog__card/catalog__card.scss";
/* /Карточка товаров */

/* Блок карточек */
.catalog__items {
	display: -webkit-flex;
	display: -ms-flex;
	display: flex;
	justify-content: space-between;
	flex-wrap: wrap;
}
	/* Адаптация */
@media screen and (max-width: 1300px) {
	.catalog__items {
		justify-content: space-around;
	}
}
@media screen and (max-width: 760px) {
	.catalog__cols {
		flex-direction: column;
	}
	.catalog__col1 {
		max-width: 100%;
    margin-bottom: 70px;
	}
	.catalog__col2 {
    padding-left: 0;
	}
	.catalog__navbar {
    margin: auto;
	}
	.catalog__banner {
		display: none;
	}
}
@media screen and (max-width: 350px) {
	.catalog__navbar {
    width: 305px;
	}
}
	/* /Адаптация */
/* /Блок карточек */

.catalog__banner {
	margin-top: 50px;
}
