
<!-- Вызов меню-->
<div class="menu-mobile class-menu">
  <!-- Кнопка -->
  <input type="checkbox" name="mobile-menu" id="mobile-menu_stroke-cross" style="display:none;"/>
  <div class="mobile-menu">
    <label class="mobile-menu__strokes" for="mobile-menu_stroke-cross">
      <div class="mobile-menu__stroke mobile-menu__stroke-cross1"></div>
      <div class="mobile-menu__stroke mobile-menu__stroke-cross2"></div>
      <div class="mobile-menu__stroke mobile-menu__stroke-cross3"></div>
    </label>
  </div>
  <!-- Меню -->
  <div class="mobile-menu__menu">
    <ul class="mobile-menu__item" id="mobile-menu">
      <!-- Ссылка меню-->
      <li><a href="link1.com">link1</a></li>
      <li><a href="link2.com">link2</a></li>
    </ul>
  </div>
</div>
<link rel="stylesheet" href="mobile-menu.css"/>
<script src="http://localhost:35729/livereload.js"></script>