body {
	font-family: 'Roboto', sans-serif;
}
/* Ширина сайта */
.site-width {
	max-width: 1360px;
}
/* Внутренние отступы родительских блоков сайта */
.inn_padd {
	padding: 5px;
}

strong {
	font-weight: 500 !important;
}

/* Стили кавычек */
q {
    quotes: "\00ab" "\00bb";
}

/* Модификаторы */
.mod_jc-flex-end {
	justify-content: flex-end !important;
}
.mod_margin-top-0 {
	margin-top: 0 !important;
}

/* /Модификаторы */

/* Переменные */
@import "vars.scss";
/* /Переменные */
/* Общий шаблон кнопки со ссылкой */
@import "../../blocks/buttons/button-link/button-link.scss";
/* Шаблон цветной кнопки со ссылкой */
@import "../../blocks/buttons/button-link-colored/button-link-colored.scss";
/* Форма поиска в хэдере */
@import "../../blocks/header-search/header-search.scss";
/* Главный шаблон "Шапка - Футер" */
@import "../style/page-template.scss";

/* Главная страница */
	/* Slick Slider - выравнивание буллетов и стрелок */
@import "/home/xander/GitHub/Exon-BEM/main-template/template/blocks/main-slider-slick/slider-slick_bullets-centered.scss";
	/* /Slick Slider - выравнивание буллетов и стрелок */
	/* Slick Slider - стилизация */
@import "/home/xander/GitHub/Exon-BEM/main-template/template/blocks/main-slider-slick/slider-slick_theme-exon.scss";
	/* /Slick Slider - стилизация */

	/* Slick Slider в табах */
		/* Slick Slider - выравнивание буллетов и стрелок */
@import "/home/xander/GitHub/Exon-BEM/main-template/template/blocks/slider-slick-mult/slider-slick-mult.scss";
		/* /Slick Slider - выравнивание буллетов и стрелок */
		/* Slick Slider - стилизация */
@import "/home/xander/GitHub/Exon-BEM/main-template/template/blocks/slider-slick-mult/slider-slick-mult_theme-exon.scss";
		/* /Slick Slider - стилизация */
	/* /Slick Slider в табах */

	/* Главная - Блок с табами */
		/* Раскладка блока */
.main-tabs__inner {
	margin: auto;
}
.page-main-tabs {
	position: relative;
	margin-bottom: 100px;
}
		/* /Раскладка блока */
		/* Раскладка Айтема таба */
.main-tabs-item {
	display: -webkit-flex;
	display: -ms-flex;
	display: flex;
	justify-content: space-between;
}
.main-tabs-item__text {
	width: 50%;
}
.main-tabs-item__slider {
	position: absolute;
	left: 50%; right: 0;
	padding-left: 30px;
}
		/* /Раскладка Айтема таба */

		/* Кнопка */
.page-main__btn-to-catalog {
	width: 350px; height: 60px;
	font-size: 28px;
	font-weight: 300;
	color: $grey;
	display: -webkit-flex;
	display: -ms-flex;
	display: flex;
	justify-content: center;
}
.page-main__btn-to-catalog:hover {
	color: $grey;
}
.page-main__btn-to-catalog.switch-off {
	display: none;
}
		/* /Кнопка */

		/* Текст */
.main-tabs-item__text {
	padding-top: 50px;
}
.main-tabs-item__text-title {
	font-family: 'Roboto Slab', serif;
	font-size: 72px;
	line-height: 90px;
	background: linear-gradient(to right,$green,$blue);
	color: transparent;
	-webkit-background-clip: text;
	background-clip: text;
	color: transparent;
}
.main-tabs-item__text-txt {
	font-size: 24px;
	font-weight: 300;
	line-height: 36px;
	margin: 50px 0;
}
		/* /Текст */

		/* Адаптация содержимого таба */
@media screen and (max-width: 1200px) {
	.main-tabs-item__text-title {
		font-size: 60px;
	}
}
@media screen and (max-width: 990px) {
.main-tabs-item__text-title {
    font-size: 50px;
		line-height: 60px;
	}
}
@media screen and (max-width: 820px) {
	.main-tabs-item {
    flex-direction: column;
	}
	.main-tabs-item__text {
		width: 100%;
	}
	.main-tabs-item__slider {
		position: relative;
		left: inherit; right: inherit;
		width: 347px;
		margin: auto;
		padding-left: 0;
	}
	.theme-exon .slider-slick-mult__item.slick-slide {
		width: 347px !important;
	}
	.theme-exon .slider-slick-mult__item.slick-slide:before {
		opacity: 1;
	}
	.page-main__btn-to-catalog.switch-on {
		display: none;
	}
	.page-main__btn-to-catalog.switch-off {
		display: flex;
    margin: auto;
    margin-top: 40px;
	}
	.slider-slick-mult .slick-list {
    order: -1;
    margin-bottom: 30px;
	}
}
@media screen and (max-width: 660px) {
.main-tabs-item__text-title {
		line-height: 60px;
		font-size: 36px;
	}
.main-tabs-item__text-txt {
		line-height: 26px;
		font-size: 18px;
		margin-top: 20px;
	}
}
@media screen and (max-width: 420px) {
	.main-tabs-item__text-title {
    font-size: 38px;
	}
}
@media screen and (max-width: 360px) {
	.page-main__btn-to-catalog {
    width: 300px;
	}
	.theme-exon .slider-slick-mult__item.slick-slide {
    width: 300px !important;
	}
	.main-tabs-item__slider {
    width: 300px;
	}
	.slider-slick-mult__txt {
		padding: 0 10px;
	}
	.theme-exon .slider-slick-mult__item.slick-slide {
		padding: 30px 10px;
	}
}
		/* /Адаптация содержимого таба */
		/* Стилизация табов */
@import "/home/xander/GitHub/Exon-BEM/main-template/template/blocks/tabs-bootstrap/tabs-bootstrap.scss";
	/* /Главная - блок с табами */

	/* Главная - Блок новостей */
		/* Раскладка */
.page-main-news {
	margin: 50px 0;
	padding-top: 30px;
	padding-bottom: 60px;
	background: url('../template-images/main-page-news__bg.png') center;
}
.page-main-news__col {
	width: 50%;
}
.page-main-news__row {
	display: -webkit-flex;
	display: -ms-flex;
	display: flex;
	justify-content: space-between;
}
.page-main-news__item-img {
	position: relative;
}
.main-news__inner {
	margin: auto;
}
		/* /Раскладка */
		/* Стилизация */
.page-main-news {
	color: #fff;
}
.page-main-news__title {
	font-family: 'Roboto Slab', serif;
	font-size: 48px;
	margin-bottom: 40px;
}

			/* Кнопка "Акция" */
				// Акция в карточке
					/* Раскладка */
.page-main-news__item-img-action {
  position: absolute;
  right: 130px;
	top: -16px;
}
					/* /Раскладка */
.page-main-news__item-img-action {
	font-family: 'Roboto', sans-serif;
	font-size: 18px;
	border-radius: 50px;
	background-color: $red;
	display: inline-block;
	padding: 3px 17px;
	display: none;
}
.page-main-news__item-img-action.switch-on {
	display: inline-block;
}
				// Акция в списке
.page-main-news__list-item-action {
	font-family: 'Roboto', sans-serif;
	font-size: 14px;
	border-radius: 50px;
	background-color: $red;
	display: inline-block;
	padding: 0px 10px;
	display: none;
	margin-left: 20px;
}
a.page-main-news__list-item-action.switch-on {
	display: inline-block;
}
			/* /Кнопка "Акция" */
			/* Кнопка "Все новости" */
a.button-link.btn-page-main-all-news {
	color: #fff !important;
	font-size: 28px !important;
	border: 2px solid;
	padding: 11px 36px;
}
.btn-page-main-all-news__container.switch-off {
	display: none;
}
a.button-link.btn-page-main-all-news:hover {
	color: #fff !important;
	border-color: #fff;
}
.btn-page-main-all-news__list {
	display: inline-block;
	margin-top: 30px;
}
			/* Кнопка "Все новости" */
			/* Карточка новости */
a.page-main-news__item {
	color: #fff;
}
.page-main-news__item-date {
	margin: 30px 0;
	font-size: 14px;
	font-weight: 300;
}
.page-main-news__item-snippet-title {
	font-size: 24px;
	font-weight: 400;
	margin-bottom: 10px;
}
.page-main-news__item-snippet-description {
	font-size: 18px;
	font-weight: 300;
	max-width: 500px;
}
.page-main-news__list-item {
	font-size: 18px;
	font-weight: 300;
}
			/* /Карточка новости */
			/* Список новостей */
a.page-main-news__list-item {
	color: #fff;
}
.page-main-news__list-item-title {
	font-size: 18px;
	font-weight: 300;
}
.page-main-news__list-item-date {
	font-size: 14px;
	margin-top: 20px;
	margin-bottom: 20px;
}
.page-main-news__list-separator {
	height: 1px;
	border: 1px solid #fff;
	margin: 60px 0 20px;
}
			/* /Список новостей */
		/* /Стилизация */
		/* Адаптация */
@media screen and (max-width: 1200px) {
	.page-main-news__item-img {
    padding-right: 30px;
	}
	img.page-main-news__item-img-image {
    width: 100%;
	}
}
@media screen and (max-width: 600px) {
	.page-main-news__row {
		flex-direction: column;
	}
	.page-main-news__col {
		width: 100%;
	}
	.page-main-news__item-img {
		padding-right: 0;
	}
	.page-main-news__col.switch {
		display: none;
	}
	.btn-page-main-all-news__container.switch-off {
		display: block;
		text-align: center;
		margin-top: 50px;
	}
	.page-main-news__title {
		font-size: 36px;
	}
	.page-main-news__item-date {
		font-size: 14px;
	}
	.page-main-news__item-snippet-title {
		font-size: 24px;
	}
	.page-main-news__item-snippet-description {
		font-size: 18px;
	}
	.page-main-news__item-img-action {
		right: 30px;
	}
}
		/* /Адаптация */
	/* /Главная - Блок новостей */


	/* Главная - Текстовый блок */
	// стили блока "Подробнее"
@import "/home/xander/GitHub/Exon-BEM/main-template/template/blocks/read-more-bootstrap/read-more-bootstrap.scss";
.page-main-text {
  padding-bottom: 100px !important;
  padding-top: 80px;
}
.main-text__inner {
	margin: auto;
}
.main-text__title {
	font-size: 48px;
	font-family: 'Roboto Slab', serif;
	color: $grey;
	margin-bottom: 60px;
}
.main-text__text {
	font-size: 24px;
	font-weight: 300;
	color: $grey;
}

		/* Стилизация блока "Подробнее" */
.card.card-body {
	font-size: 24px;
	font-weight: 300;
	color: $grey;
}
.btn-primary {
	color: $blue !important;
	margin-top: 20px;
	font-size: 28px;
	font-weight: 300;
}
.btn-primary:hover {
	text-decoration: underline;
}
		/* /Стилизация блока "Подробнее" */
		/* Адаптация */
@media screen and (max-width: 480px) {
	.main-text__title {
		font-size: 36px;
		margin-bottom: 40px;
		line-height: 40px;
	}
	.main-text__text,
	.card.card-body {
		font-size: 18px;
	}
	.btn-primary {
		font-size: 18px;
	}
	.page-main-text {
    padding-bottom: 50px !important;
    padding-top: 0;
	}
}
		/* /Адаптация */
	/* /Главная - Текстовый блок */

	/* Принять участие в опросе */
.main-interview__inner {
	margin: auto;
	text-align: center;
	padding: 40px 0;
}
.page-main-interview__btn {
	margin: 30px 0;
}
.page-main-interview {
	background: url('../template-images/main-page-interview.png') center;
	background-size: cover;
}
.page-main-interview__txt {
	font-size: 48px;
	font-family: 'Roboto Slab', serif;
	color: #fff;
}
.page-main-interview__text2 {
	display: none;
}
		/* Адаптация */
@media screen and (max-width: 700px) {
	.page-main-interview__text1 {
		display: none;
	}
	.page-main-interview__text2 {
		display: inline-block;
	}
	.page-main-text {
	  padding-bottom: 50px;
	}
}
@media screen and (max-width: 500px) {
	.page-main-interview__txt {
		font-size: 36px;
	}
}
@media screen and (max-width: 380px) {
	.page-main-interview__txt {
		font-size: 30px;
	}
}
		/* /Адаптация */
	/* /Принять участие в опросе */
/* /Главная страница */

/* Заголовок обычной страницы */
@import "/home/xander/GitHub/Exon-BEM/main-template/template/layout/page__title/page__title.scss";

/* Страница "Контакты" */
@import "/home/xander/GitHub/Exon-BEM/main-template/template/layout/page-contacts/page-contacts.scss";
/* /Страница "Контакты" */

/* Страницы Новости(все) */
@import "/home/xander/GitHub/Exon-BEM/main-template/template/layout/page-news-all/page-news-all.scss";
	/* Стили блока "Подписаться на новости" */
@import "/home/xander/GitHub/Exon-BEM/main-template/template/blocks/subscribe-page-news/subscribe-page-news.scss";
	/* /Стили блока "Подписаться на новости" */
	/* Стили блока "Сортировать по дате" */
@import "/home/xander/GitHub/Exon-BEM/main-template/template/blocks/switch-order/switch-order.scss";
	/* /Стили блока "Сортировать по дате" */
	/* Превью новости */
@import "/home/xander/GitHub/Exon-BEM/main-template/template/layout/news-all__previews-item/news-all__previews-item.scss";
	/* /Превью новости */
/* /Страницы Новости(все) */

/* Страница новости - Одинарная */
@import "/home/xander/GitHub/Exon-BEM/main-template/template/layout/page-news-single/page-news-single.scss";
/* /Страница новости - Одинарная */

/* Страница "О компании" */
@import "/home/xander/GitHub/Exon-BEM/main-template/template/layout/page-about-company/page-about-company.scss";
/* /Страница "О компании" */

/* Страница "Каталог" */
@import "../page-catalog/page-catalog.scss";
/* /Страница "Каталог" */

/* Страница "Личный кабинет" */
@import "../page-lk/page-lk.scss";
// Список ссылок
@import "../../blocks/list-down/list-down.scss";
// Счетчик
@import "../../blocks/count-plus-minus/count-plus-minus.scss";
/* /Страница "Личный кабинет" */

/* Серый футер */
.footer-grey {
	background-color: $grey-bg !important;
}
.footer-grey__btn:after {
  background-color: $grey-bg !important;
}
/* /Серый футер */

/* Фармаконадзор */
@import "../page-pharma/page-pharma.scss";
/* /Фармаконадзор */

// Модальное окно "Вход для клиентов"
@import "../../blocks/modals/modal__header-top-login/modal__header-top-login.scss";
