//- page-about-company.pug
extends ../page-template.pug

block content
	+crumbs('template-images/about-company__title.png', 'О компании', ['#', 'О компании'])
	.about-company.news-single.inn_padd
		.about-company__inner.site-width
			.about-company__info
				.about-company__info-text
					p В эпоху технического прогресса и рыночных отношений, здоровье – это наш капитал, мы можем его растратить, а можем приумножить. Будучи больным, трудно воплотить в жизнь свои мечты, полностью реализоваться в современном мире.  Забота о Вашем здоровье – миссия существования ОАО «ЭКЗОН» вот уже 20 лет. На фармацевтическом рынке Беларуси ОАО «ЭКЗОН» занимает значительную долю, осуществляя производство более 100 наименований лекарственных средств и биологически активных добавок. Нашими постоянными партнёрами на сегодняшний день являются более 60 предприятий оптовой и розничной торговли по всей Беларуси.
					p Движение вперед, постоянное расширение и модернизация производства при сохранении высокого качества продукции, увеличение охвата географии сотрудничества – неизменные принципы деятельности нашего предприятия. Плодотворное международное партнёрство осуществляется со многими странами: Россия, Украина, Молдова, Грузия, Казахстан, Литва, Латвия, Германия, США, Польша.
				.about-company__info-img
					img.about-company__info-img-image(src='template-images/about-company__text-image.png')
				
