// Футер верхний
.footer-top
	// первая колонка 
	.footer-top__col
		.footer-logo
			img.footer-logo__img(src='template-images/header-logo.png')
			.footer-logo__text
				.footer-logo__text-title ОАО 
					q ЭКЗОН
				.footer-logo__text-description1 Производство натуральных
				.footer-logo__text-description2 лекарственных средств
		.footer__phones
			.footer__phones1 8 01644 
				strong 3-24-09
			.footer__phones2 8 01644 
				strong 3-24-09
		.footer__address 225612, Республика Беларусь, г.Дрогичин, ул.Ленина 202
		.footer__mail bm@ekzon.by
	// Кнопка, появляющаяся в мобильной версии	
	.footer-top__col.footer-top__footer-feedback
		+button-modal-colored('footer-feedback footer-feedback_mobile', '#callBack', 'Онлайн заявка')
	// вторая колонка 
	.footer-top__col
		.footer-top__col-title Компания
		a.footer-top__col-row(href='#') Информация
		a.footer-top__col-row(href='#') История
		a.footer-top__col-row(href='#') Сертификаты качества		
		+button-modal('footer-top__col-row', '#mapModal', 'География продаж')
		
	// третья колонка 
	.footer-top__col
		.footer-top__col-title Продукция
		a.footer-top__col-row(href='#') Лекарственные средства
		a.footer-top__col-row(href='#') Биологически активные добавки
		a.footer-top__col-row(href='#') Пищевые продукты
	// четвертая колонка 
	.footer-top__col
		.footer-top__col-title Партнерам
		a.footer-top__col-row(href='#') Наши партнеры
		a.footer-top__col-row(href='#') Дистрибьютерам
		a.footer-top__col-row(href='#') Информация по наличию
		a.footer-top__col-row(href='#') Положение по скидкам
		a.footer-top__col-row(href='#') Форма заказа
		a.footer-top__col-row(href='files/file.pdf' target='_blank') Прайс лист
// /Футер верхний
