// Футер верхний
.footer-top
	// первая колонка 
	.footer-top__col
		.footer-logo
			img.footer-logo__img(src='template-images/header-logo.png')
			.footer-logo__text
				.footer-logo__text-title ОАО 
					q ЭКЗОН
				.footer-logo__text-description1 Производство натуральных
				.footer-logo__text-description2 лекарственных средств
		.footer__phones
			.footer__phones1 8 01644 
				strong 3-24-09
			.footer__phones2 8 01644 
				strong 3-24-09
		.footer__address 225612, Республика Беларусь, г.Дрогичин, ул.Ленина 202
		.footer__mail bm@ekzon.by
	// вторая колонка 
	.footer-top__col
		.footer-top__col-title Компания
		.footer-top__col-row Информация
		.footer-top__col-row История
		.footer-top__col-row Сертификаты качества
		.footer-top__col-row География продаж
	// третья колонка 
	.footer-top__col
		.footer-top__col-title Продукция
		.footer-top__col-row Лекарственные средства
		.footer-top__col-row Биологически активные добавки
		.footer-top__col-row Пищевые продукты
	// четвертая колонка 
	.footer-top__col
		.footer-top__col-title Партнерам
		.footer-top__col-row Наши партнеры
		.footer-top__col-row Дистрибьютерам
		.footer-top__col-row Информация по наличию
		.footer-top__col-row Положение по скидкам
		.footer-top__col-row Форма заказа
		.footer-top__col-row Прайс лист
// /Футер верхний
